div.title_img {
  img {
    width: 100%;
  }
}

div.container {
  width: 100%;
  position: relative;
  overflow: hidden;

  div.main_body {
    width: 62.5vw;
    margin: auto;
  }

  div.title_block {
    display: flex;
    @include custom-responsive(" xs sm") {
        padding: 20px 0 30px;
        align-items: center;
        justify-content: center;
    }
    @include custom-responsive(" md lg") {
        justify-content: space-between;
    }
    @include custom-responsive(" xl xx-l") {
        padding: 20px 0 35px;
        align-items: center;
        justify-content: space-between;
    }

    h1 {
        color: $primaryBgBlue;


    }
    img.deco_line{

        @include custom-responsive(" xs sm") {                   
            display: none;
        }
        @include custom-responsive("md") {
            width: 70%;
            display: block;
        }
        @include custom-responsive("lg") {
            display: block;
        }
        @include custom-responsive(" xl xx-l") {                 
            display: block;
        }
    }
}

  div.sponsor_block {
    padding: 50px 0;
    @include custom-responsive(" xs sm") {
      @include h1_MB;
    }

    @include custom-responsive(" xl xx-l") {
      display: flex;
    }

    .sponsor_img {
      img {
        @include custom-responsive(" xs sm") {
          width: 100%;
          border-radius: $br_MB;
        }

        @include custom-responsive(" xl xx-l") {
          border-radius: $br_PC;
          width: 500px;
        }
      }
    }

    .sponsor_text {
      @include custom-responsive(" xs sm") {
        width: 100%;
      }

      @include custom-responsive(" xl xx-l") {
        padding-left: 50px;
        display: flex;
        flex-direction: column;
      }

      h4 {

        @include custom-responsive(" xs sm") {
          padding: 10px 0;
          @include h4_B_MB;
          font-size: 20px;
        }

        @include custom-responsive(" xl xx-l") {
          padding: 0;
          @include h4_B_PC;
        }
      }

      p {
        flex-grow: 1;

        @include custom-responsive(" xs sm") {
          @include h6_MB;
        }

        @include custom-responsive(" xl xx-l") {
          @include h6_PC;
        }
      }

      span.price {
        color: $decorativeOrange;
      }
    }

  }

  div.line {
    width: 100%;
    height: 1px;
    background-color: $primaryBgBlue;
  }

  div.sponsor_location {
    padding: 20px 0 100px;

    h3 {
      color: $primaryBgBlue;

      @include custom-responsive(" xs sm") {
        @include h3_MB;
      }

      @include custom-responsive(" xl xx-l") {
        @include h3_PC;
      }

      padding: 0 0 20px;

    }

    div.sponsor_location_inner {
      display: flex;
      flex-wrap: wrap;

      div.location_card {
        @include flex_hm();
        flex-direction: column;
        color: $primaryBrandWhite;

        @include custom-responsive(" xs sm") {
          @include h5_B_MB;
          border-radius: $br_MB;
          margin: 0 10px 20px;
        }

        @include custom-responsive(" xl xx-l") {
          @include h5_B_PC;
          border-radius: $br_PC;
          margin: 0 30px 0 0;
        }

        .card_title {
          width: 130px;
          height: 130px;
          display: flex;
          flex-direction: column;
          background-color: $primaryBgBlue;

          @include custom-responsive(" xs sm") {
            @include h5_B_MB;
            border-radius: $br_MB;

          }

          @include custom-responsive(" xl xx-l") {
            @include h5_B_PC;
            border-radius: $br_PC;

          }


          img {
            padding-top: 10px;
            align-self: center;
            @include flex_hm();
            width: 50%;
            height: 50%;
          }

          h5 {
            color: $primaryBrandWhite;
            @include flex_hm();

            @include custom-responsive(" xs sm") {
              @include h5_B_MB;
            }

            @include custom-responsive(" xl xx-l") {
              @include h5_B_PC;
            }

          }
        }
      }

      div.card_count {
        @include flex_hm();
        margin-top: 20px;
        border: 1px solid;
        background-color: $primaryBgBlue;

        @include custom-responsive(" xs sm") {
          border-radius: $br_MB;

        }

        @include custom-responsive(" xl xx-l") {
          border-radius: $br_PC;

        }

        p {
          background-color: $primaryBrandWhite;

          @include custom-responsive(" xs sm") {
            @include h6_MB;
            padding: 0 20px;
          }

          @include custom-responsive(" xl xx-l") {
            @include h6_PC;
            padding: 0 20px;
            border-left: 1px solid;
            border-right: 1px solid;
          }
        }

        i {

          color: $primaryBrandWhite;
          padding: 0 10px;
          cursor: pointer;
        }
      }
    }
  }

  div.button {
    @include flex_hm();

    button.back {
      border: 1px transparent;
      margin: 0 10px;

      @include custom-responsive(" xs sm") {
        @include smallBlueBtn_MB;
        @include h5_MB;
        width: 40%
      }

      @include custom-responsive(" xl xx-l") {
        @include smallBlueBtn_PC;
        @include h5_PC;
      }


    }

    button.pay_list {
      color: $primaryBgBlue !important;
      border: 1px transparent;
      margin: 0 10px;

      @include custom-responsive(" xs sm") {
        @include smallWhiteBtn_MB;
        @include h5_MB;
        width: 60%
      }

      @include custom-responsive(" xl xx-l") {
        @include smallWhiteBtn_PC;
        @include h5_PC;
        
      }
    }

    div.icon_img {
      position: relative;
      left: 300px;

      @include custom-responsive(" xs sm") {
        display: none;
      }

      @include custom-responsive(" xl xx-l") {
        display: block;
      }
    }
  }

}