@import '@/assets/sass/base/color';
@import '@/assets/sass/base/fonts/fonts-mixin';
@import '@/assets/sass/base/box-shadow';
@import '@/assets/sass/base/border-radius';
@import '@/assets/sass/base/rwd/breakpoints';


@include custom-responsive('xs') {
  div.banner {
    width: 100%;
    .PC-banner{
      display: none;
    }
    img{
      width: 100%;
    }
  }
  div.container {
    width: 100%;
    margin: auto;
    overflow-x: hidden;

    div.main_body {
      width: 100vw;
      margin: auto;
      position: relative;
      h1 {
        @include h1_MB;
        color: $primaryBrandBlue;
        margin: 0 auto 22%;
        width: fit-content;
      }

      div.map {
        margin: 10% auto;
        width: 60%;
        position: relative;
        box-sizing: border-box;

        select.filterDistrict {
          position: absolute;
          top: -6vh;
          left: 50%;
          transform: translate(-50%, -50%);
          display: inline-block;
          width: 18vw;
          padding: 5%;
          @include h5_MB;
          border-radius: $br_MB;
          background-color: $primaryBrandBlue;
          outline: none;
          color: $primaryBrandWhite;
          appearance: none;
          text-align: center;
          cursor: pointer;
          option{
            background-color: $secondaryLightBlue3;
            cursor: pointer;
          }
        }

        div.branchs {
          button {
            display: none;
          }

          div.branch-details {
            border-radius: $br_MB;
            @include boxShadow_PC;
            padding: 15% 10% 20% 10%;
            background-color: $primaryBgWhite;
            position: absolute;
            z-index: 10;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 70vw;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;

            &::after {
              content: '';
              width: 80%;
              height: 1px;
              background-color: $functionalLightGrey3;
              position: absolute;
              bottom: 6%;
            }

            h2 {
              @include h2_MB;
              color: $primaryBrandBlue;
            }

            i {
              color: $primaryBrandBlue;
            }

            p {
              @include h5_MB;
              margin: 8% 0;
            }

            div.pic {
              width: 60%;
              height: 60%;

              img {
                width: 100%;
                height: 100%;
                border-radius: $br_PC;
                object-fit: cover;
                object-position: center;
              }
            }
            button{
              background: none;
              box-shadow: none;
              position: absolute;
              top:5%;
              right: 8%;
              i{
                font-size: 2vw;
              }
            }
          }
        }

        img {
          width: 100%;
        }
      }

      section.location {
        position: relative;
        display: flex;
        width: 90%;
        flex-wrap: wrap;
        margin: auto;
        gap: 2%;
        justify-content: center;
        .card {
          position: relative;
          z-index: 2;
          box-sizing: border-box;
          padding: 5%;
          margin: 2%;
          border-radius: 15px;
          display: flex;
          flex-direction: column;
          width: 70%;
          background-color: $primaryBrandBlue;
          color: #fff;
          @include h6_PC;
          transition: .3s;
          justify-content: center;

          .tag {
            @include h4_PC;
            margin-bottom: 4%;
          }

          .name {
            @include h2_PC;
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            align-items: center;

            .people {
              @include h6_PC;

              span {
                @include h5_PC;
              }
            }
          }
        }
      }

      div.deco-stars {
        display: none;
      }

      div.deco-bigstar {
        display: none;
      }
    }
  }
}

@include custom-responsive('md'){
  div.container {
    overflow: hidden;
    div.main_body{
      h1{
        margin-left:20%;
      }
      div.map {
        margin: 12% auto;
        width: 45%;
        div.branchs{
          button{
            display: block;
            position: absolute;
            background-color: $secondaryLightGold2;
            border: none;
            width: 10px;
            height: 10px;
            padding: 0;
            flex-wrap: nowrap;
            border-radius:50%;
            box-shadow: 0 0 8px 5px $secondaryLightGold1;  
            cursor: pointer;
            &:hover{
              background-color:$primaryAccentGold;
              scale: 1.05; 
            } 
            }
          div.branch-details{
            width: 130%;
                div.pic{
                  width: 60%;
                  height: 60%;
                }
  
            }
        }
        select.filterDistrict {
          top: -30%;
          left: 100%;
        }
        img {
          width: 100%;
        }
      }
      section.location {
        justify-content: start;
        .card {
          position: relative;
          box-sizing: border-box;
          padding: 2%;
          margin: 2%;
          border-radius: 15px;
          display: flex;
          flex-flow: column;
          width: 45%;
            }
          }
        }
      }

}
@include custom-responsive('xl'){
  div.banner{
    width: 100%;
    .PC-banner{
      display: block;
    }
    .MB-banner{
      display: none;
    }
    img{
      width: 100%;
    }

  }
  div.container {
    div.main_body{
      padding-top:5%;
      width: 62.5vw;
      h1 {
        @include h1_PC;
        margin: 0 0 0 10%;
      }
      div.map{
        width: 40%;
        margin: 5% auto;
        select.filterDistrict{
          top: -15%;
          left: 120%;
          width: 20%;
          padding: 1%;
          @include h6_PC;
          border-radius: $br_PC;
        }
        div.branchs {
          button{
            width: 15px;
            height: 15px;
            cursor: pointer;
          }
          div.branch-details {
            border-radius: $br_PC;
            @include boxShadow_PC;
            width: 125%;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;

            h2 {
              @include h2_PC;
            }

            p {
              @include h5_PC;
              margin: 8% 0;
            }

            div.pic {
              width: 55%;
              height: 55%;
            }

          }
        }

      }

      section.location {
        width: 100%;
        .card {
          width: 28%;
          &:hover {
            background-color: $secondaryLightBlue1;
            color: $basicFontColor;
            @include boxShadow_PC;
            cursor: pointer;
          }
        }

      }
    }
    div.deco-stars {
      position: absolute;
      display: block!important;
      top: 40%;
      left: -20%;
      width: 10vw;
      img{
        width: 100%;
      }
    }
    div.deco-bigstar {
      display: block!important;
      img{
        width: 70%;
        z-index: 0;
      }
      position: absolute;
      bottom: 0;
      right: -35%;
    }
  }
}

.v-enter-active,
.v-leave-active {
  transition: opacity .5s;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.v-enter-to,
.v-leave-from {
  opacity: 1;
}