/* 🚩捷徑🚩 */

//桌機 PC border-radius 7
//手機 MB border-radius 12

//---------------------------------------------------------------------------------------
/* ⭐桌機 PC border-radius⭐ */

$bR_PC:30px;

//---------------------------------------------------------------------------------------
/* ⭐手機 MB border-radius⭐ */

$bR_MB:15px;

/* ⭐使用說明⭐ */
.sassUsageExample {
  border-radius: $bR_MB;
}