.dream_star_container {
    width: 100%;
    height: 300vh;

    .dream_star_background {
        width: 100%;
        height: 320vh;
        background-image: url("/pictures/spark_activity/dream_star/dream_star_page_background.jpg");
        background-position: center;
        background-size: cover;
        position: absolute;
    }

    .carousel {
        padding: 20vh 0 10vh;
        text-align: center;
        
    }

    .main_body {

        .title_wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .title_text {
                h1 {
                    color: $primaryBrandBlue;
                    padding: 0 0 .5vw;

                    span {
                        color: $primaryBrandBlue;
                        display: inline-block;
                        padding: 0 1vw 0 0;
                    }
                }

                img {
                    width: 480px;
                }
            }

            .vote_wrap {
                display: flex;
                align-items: center;
                gap: 0 15px;
                background-color: $decorativeYellow;
                padding: 10px 35px;
                border-radius: 50px;

                .vote_number {
                    font-size: 40px;
                    font-family: 'Lato';
                    font-weight: 700;
                    color: $primaryBrandBlue;
                }
            }
        }

        .dream_wrap {
            background-color: white;
            width: 100%;
            box-sizing: border-box;
            padding: 3%;
            margin: 6% 0;
            position: relative;

            .dream_dashline {
                width: 100%;
                box-sizing: border-box;
                padding: 3% 6.5%;
                border: 2px dashed $secondaryLightBlue1;
                position: relative;

                .shine {
                    position: absolute;
                    top: 20px;
                    right: 20px;
                }

                .subtitle {

                    h2 {
                        color: $primaryBrandBlue;
                        position: relative;

                    &::before {
                        content: "";
                        background-image: url("/pictures/spark_activity/dream_star/subtitle_bg.svg");
                        height: 200px;
                        width: 200px;
                        // position: absolute;
                        // top: 0;
                        // left: 0;
                        margin-right: -30px;
                        background-color: aqua;
                        }

                    }
                }

                span {
                    color: $decorativeOrange;
                    font-weight: 700;
                }
                
            }

            .clip {
                position: absolute;
                top: -8%;
                left: 5%;
            }
            
        
        }

        
    }

}