div.spark_activity_container {
  width: 100%;
  overflow: hidden;

  .main_body {
    @include custom-responsive("xs sm") {
      @include body_space_MB;
    }

    @include custom-responsive("xl xxl") {
      @include body_space_PC;
    }

  }

  @include custom-responsive("xs sm") {
    height: 850vh;
  }

  @include custom-responsive("xl") {
    height: 530vh;
  }

  @include custom-responsive("xx-l") {
    height: 510vh;
  }



  div.spark_activity_background {
    width: 100%;

    @include custom-responsive("xs sm") {
      height: 930vh;
      background-image: url("/pictures/spark_activity/spark_project_background_MB.png");
    }

    @include custom-responsive("xl") {
      height: 550vh;
      background-image: url("/pictures/spark_activity/spark_project_background.png");
    }

    @include custom-responsive("xx-l") {
      height: 530vh;
      background-image: url("/pictures/spark_activity/spark_project_background.png");
    }




    // background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;

    div.main_body {


      div.img_wrap {
        gap: 5vw;

        @include custom-responsive("xs sm") {
          @include flex_vm;
          width: 20vw;
          margin: 10vh auto 5vh;
        }

        @include custom-responsive("xl xx-l") {
          flex-direction: row;
          width: 100%;
          margin: 20vh auto 5vh;
        }


        div.cloud_wrap {
          @include flex_hm;

          @include custom-responsive("xs sm") {
            width: 100vw;
            padding: 5vh 0;
            overflow-x: hidden;
          }

          @include custom-responsive("xl xx-l") {
            width: 60vw;
            padding: 0;
          }

          img.cloud {
            @include custom-responsive("xs sm") {
              width: 120vw;
            }

            @include custom-responsive("xl xx-l") {
              width: 100%;
            }

          }
        }

        img.boy_holding_ballon {


          @include custom-responsive("xs sm") {
            width: 50vw;
          }

          @include custom-responsive("xl xx-l") {
            width: 30%;
          }


        }
      }

      div.btn_wrap {
        @include flex_vm;

        @include custom-responsive("xs sm") {
          flex-direction: column;
          gap: 2vh;
        }

        @include custom-responsive("xl xx-l") {
          flex-direction: row;
          gap: 1vw;
          margin: 10vh 0 8vh;
        }


        button {
          @include flex_hm;
          @include btnEffect;

          @include custom-responsive("xs sm") {
            @include sparkActivityBlueBtn_MB;
            gap: 2vw;
            justify-content: flex-start;
            padding-left: 6vw;
            font-size: 1vw;
          }

          @include custom-responsive("xl xx-l") {
            @include sparkActivityBlueBtn_PC;
            gap: 0vw;
            padding: 0vw;
            justify-content: flex-start;
            font-size: 1.2vw;
          }

          div.img_wrap {
            margin: 0;


            @include custom-responsive("xs sm") {
              width: 10vw;
            }

            @include custom-responsive("xl xx-l") {
              width: 5vw;
            }


            img {
              @include custom-responsive("xs sm") {
                transform: scale(0.6);
              }

              @include custom-responsive("xl xx-l") {
                margin: 0.5vw;
                transform: scale(0.8);

              }
            }

          }

          span {
            color: $primaryBrandWhite;
          }
        }

        button:nth-child(1) {
          @include custom-responsive("xs sm") {}

          @include custom-responsive("xl xx-l") {
            display: none;
          }

        }
      }

      div.text {
        @include flex_vm;


        @include custom-responsive("xs sm") {
          gap: 0;
        }

        @include custom-responsive("xl xx-l") {
          gap: 2vh;
        }


        div.title_wrap {

          text-align: center;

          @include custom-responsive("xs sm") {
            margin: 5vh 0 2vh;
          }

          @include custom-responsive("xl xx-l") {
            margin: 2vh;
          }



          h2 {
            color: $secondaryLightBlue3;
          }

          img {
            @include custom-responsive("xs sm") {
              width: 80vw;
            }

            @include custom-responsive("xl xx-l") {
              width: 100%;
            }
          }
        }

        p.content {
          line-height: 2;

          @include custom-responsive("xs sm") {
            width: 80vw;
          }

          @include custom-responsive("xl xx-l") {
            width: 60vw;
            font-size: 1vw;
          }


          span {
            color: $decorativeOrange;
            font-weight: bold
          }
        }
      }
    }


    div#dream_star {
      @include flex_vm;
    }

    div#message_board {
      @include flex_vm;
      margin: 5vh 0 10vh;
    }

    div#activity_donate {
      @include flex_vm;
    }
  }

  img.title {

    position: relative;

    @include custom-responsive("xs sm") {
      @include flex_hm;
      width: 80vw;
      margin:auto;
    }

    @include custom-responsive("xl xx-l") {

      width: 20vw;
      margin: 5vh;
    }

  }


  img.star_sleeping {
    position: absolute;
    z-index: 1;

    @include custom-responsive("xs sm") {
      right: 10vw;
      width: 25vw;
      bottom: 75vh;
    }

    @include custom-responsive("xl xx-l") {
      right: 15vw;
      width: 15vw;
      bottom: 10vh;
    }

  }
}