// *{
//     outline: 1px solid red;
// }
div.container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    // justify-content: space-around;



    div.sidebar{
        width: 20%;
        z-index: 100;

        div.logo{
            background-color: $primaryBgBlue;
            padding: 20px 0;

            img{
                width:80%;
                display: block;
                margin: auto;
            
            }
        }
    }


    div.table_body{
        width: 65%;
        margin: 150px auto 150px;

        .v-table{
            margin-bottom: 50px;
        }

        h1{
            color:$primaryBrandBlue;
            margin-bottom: 50px;
        }
        th{
            @include h5_B_PC;
            color: $basicFontColor;
        }
        td{
            @include h6_PC;
            color: $basicFontColor;       
        }
        tbody tr:nth-child(odd) {
            background-color:$functionalLightGrey1;
        }      
        tbody tr:nth-child(even) {
        background-color: $primaryBrandWhite;
        }
        .no-border td{
            border: none;
        }
 

        

        




    }
}