div.container {
  width: 100%;
  display: flex;
  justify-content: flex-start;


  div.sidebar {
    z-index: 100;

    div.logo {
      background-color: $primaryBgBlue;
      padding: 20px 0;
    }
  }


    div.table_body{
        width: 70%;
        margin: 150px auto 150px 330px;

        .v-table{
            margin-bottom: 50px;
        }

        th{
            @include h5_B_PC;
            color: $basicFontColor;
        }
        td{
            @include h6_PC;
            color: $basicFontColor;       
        }
        tbody tr:nth-child(odd) {
            background-color:$functionalLightGrey1;
        }      
        tbody tr:nth-child(even) {
        background-color: $primaryBrandWhite;
        }
        .no-border td{
            border: none;
        }

        :deep(.v-table .v-table__wrapper > table > thead > tr > th){
          border-bottom: 4px solid $primaryBrandBlue;
        }
        :deep(.v-switch--inset .v-switch__track){
          background-color:$primaryBrandBlue;
          opacity: 1;
        }
        :deep(.v-pagination__item--is-active .v-btn__overlay){
          border: 1px solid $secondaryDarkBlue;
          color:white;
          opacity: 0.2;
        }
        :deep(.mdi:before){
            color:$primaryBrandBlue;
        }
    }

    h1{
      color:$primaryBrandBlue;
      margin-bottom: 40px;
    }

    th {
      @include h5_B_PC;
      color: $basicFontColor;
    }

    td {
      @include h6_PC;
      color: $basicFontColor;
    }

    tbody tr:nth-child(odd) {
      background-color: $functionalLightGrey1;
    }

    tbody tr:nth-child(even) {
      background-color: $primaryBrandWhite;
    }

    .no-border td {
      border: none;
    }
    :deep(.v-card .v-card-title){
      line-height: 3em;
    }

  }


:deep(.text){
  span.v-btn__content {
    color: white;
  }
}