@import'@/assets/sass/base/fonts/fonts-mixin';
@import'@/assets/sass/base/box-shadow';
@import'@/assets/sass/base/color';


div.body {
    .section_banner {
        width: 100%;

        img {
            width: 100%;
        }
}

div.section_donate {
position: relative;
    div.donate_content {
        width: 1200px;
        margin: auto;

        div.title_wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 95px 0 70px;

            h1 {
                @include h1_PC;
                color: $primaryBrandBlue;
                display: inline-block;
            
            }

            div.titleline {
                width: 78%;
                height: 1px;
                background-color: $primaryBrandBlue;

            }

        }

    }
    .deco_flowering {
        position: absolute;
        left: 3%;
        bottom: -6%;

        img {
            width: 90%;
        }
    }

}
}