.banner {
        width: 100%;

        img {
            width: 100%;
        }
}

div.donate_container {
    position: relative;

    div.main_body {
        margin: auto;
        @include custom-responsive("xs sm") {
            @include body_space_MB
        }

        @include custom-responsive("xl xxl") {
            @include body_space_PC
        }

        div.title_wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 95px 0 70px;

            h1 {
                @include h1_PC;
                color: $primaryBrandBlue;
                display: inline-block;
            
            }

            div.titleline {
                width: 78%;
                height: 1px;
                background-color: $primaryBrandBlue;

            }

        }

    }
    .deco_flowering {
        position: absolute;
        left: 3%;
        bottom: -6%;

        img {
            width: 90%;
        }
    }

}