/* 🚩捷徑🚩 */

//桌機 PC border-radius 7
//手機 MB border-radius 12

//---------------------------------------------------------------------------------------
/* ⭐桌機 PC border-radius⭐ */

$br_PC:30px;

//---------------------------------------------------------------------------------------
/* ⭐手機 MB border-radius⭐ */

$br_MB:15px;


//---------------------------------------------------------------------------------------
/* ⭐regular buttons⭐ */

$regularBtnBr:100px;

//---------------------------------------------------------------------------------------
/* ⭐small buttons⭐ */

$smallBtnBr:100px;

//---------------------------------------------------------------------------------------
/* ⭐check-out buttons⭐ */
$checkoutBtnBr_PC:100px;
$checkoutBtnBr_MB:20px;


/* ⭐使用說明⭐ */
.sassUsageExample {
  border-radius: $br_PC;
}