/* 🚩捷徑🚩 */

//色彩計畫 color 9
//背景顏色 background-color 41
//按鈕顏色 button color 57
//使用說明 62

//---------------------------------------------------------------------------------------
/* ⭐色彩計畫 color⭐ */

//🔵blue
$primaryBrandBlue: #1d3d6c;
$secondaryLightBlue1: #bbd0f7;
$secondaryLightBlue2: #477dca;
$secondaryLightBlue3: #25559a;
$secondaryDarkBlue: #082b55;
$tertiaryGradientBlue: linear-gradient(180deg, rgba(29, 61, 108, 1) 0%, rgba(37, 85, 154, 1) 100%);

//⚪white
$primaryBrandWhite: #ffffff;

//🟡gold
$primaryAccentGold: #d8b06c;
$secondaryLightGold1: #f2dfbf;
$secondaryLightGold2: #ebc483;

//💿grey
$functionalLightGrey1: #f5f4ef;
$functionalLightGrey2: #e7e6e1;
$functionalLightGrey3: #d9d8d2;
$functionalLightGrey4: #c4c3bc;

//decorate
$decorativeOrange: #ff9737;
$decorativeYellow: #ffe48b;

//font
$basicFontColor: #3d3a35;

//message
$messageColor:#FFFCFC;

//---------------------------------------------------------------------------------------
/* ⭐背景 background-color⭐ */

//⚪white
$primaryBgWhite: #ffffff;

//🔵blue
$primaryBgBlue: #1d3d6c;
$secondaryBgDarkBlue: #082b55;
$tertiaryBgGradientBlue: linear-gradient(
  180deg,
  rgba(29, 61, 108, 1) 0%,
  rgba(37, 85, 154, 1) 100%
);

//💿grey
$functionalBgLightGrey1: #f5f4ef;
$functionalBgLightGrey2: #e7e6e1;
$functionalBgLightGrey3: #d9d8d2;

////---------------------------------------------------------------------------------------
/* ⭐button color⭐ */

//blue
$btnBlue: $primaryBrandBlue;

//white
$btnWhite: $primaryBrandWhite;

//gold
$btnGold: $primaryAccentGold;
//---------------------------------------------------------------------------------------
/* ⭐使用說明⭐ */

.sassUsageExample {
  color: $primaryBgBlue;
}

.sassUsageExample {
  background-color: $primaryBgBlue;
}
