div.donate_page {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  height: 100vh;
  background-color: $primaryBrandWhite;
  order: 99;
  border-radius: 30px 0 0 30px;
  z-index: 100;
  transition: right 1s ease-in-out;
  border: 1px solid;

  &.active {
    right: 0;
    position: fixed;
  }

  @include custom-responsive("xs sm ") {
    width: 100%;
    right: -110%;
  }

  @include custom-responsive("xl xx-l") {
    width: 30%;
    right: -40%;
  }

  .none {
    display: flex;
    justify-content: center;
  }

}

div.donate_price {
  padding: 20px;
  display: flex;
  flex-direction: column;

  h5 {

    @include custom-responsive("xs sm ") {
      @include h5_MB;
    }

    @include custom-responsive("xl xx-l") {
      @include h5_PC;
    }
  }
  div.price_button {
    padding-bottom: 20px;
    button {
      @include regularBlueBtn_PC;
      width: 40%;
      margin:20px 0 0 0;
     
    }
    button:nth-child(even){
      margin:20px 0 0 20px;
    }
 
  }

  input {
    font-size: 25px;
    height: 100px;
    width: 90%;
    border-radius: $br_PC;
    padding-left: 10px;

  }
}
div.img{
flex-grow: 1;
display: flex;
flex-direction: column;
  .star{
    width: 20%;
    height: 100px;
  }
  .man{
    width: 20%;
    height: 100px;
  }
}  

div.title {
  padding: 20px;
  display: flex;
  justify-content: space-between;

  h2 {
    color: $primaryBgBlue;
    @include custom-responsive("xs sm ") {
      @include h2_MB;
    }

    @include custom-responsive("xl xx-l") {
      @include h2_PC;
    }
  }

  .fa-circle-xmark {
    font-size: 30px;
    cursor: pointer;
  }
}

.location_card {
  display: flex;
  flex-grow: 1;
}

div.donate_inner {
  padding: 20px;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;

  h5 {
    color: $primaryBgBlue;
    @include flex_hm();

    @include custom-responsive("xs sm ") {
      @include h5_MB;
    }

    @include custom-responsive("xl xx-l") {
      @include h5_PC;
    }

  }
}

div.card_count {
  display: flex;
  @include flex_hm();

  p {
    color: $basicFontColor;
    padding: 0 20px;

    @include custom-responsive("xs sm ") {
      @include h6_MB;
    }

    @include custom-responsive("xl xx-l") {
      @include h6_PC;
    }

  }


  i {
    cursor: pointer;
    font-size: 20px;
    padding: 0 10px;
    color: $primaryBgBlue;

  }
}

div.donate_total {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 0 0 0 30px;
  height: 20%;
  background-color: $functionalLightGrey1;

  div.total_price {
    padding-top: 20px;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;

    h5 {
      color: $basicFontColor;

      @include custom-responsive("xs sm ") {
        @include h5_MB;
      }

      @include custom-responsive("xl xx-l") {
        @include h5_PC;
      }
    }
  }

  div.price_button {
    display: flex;
    justify-content: center;

  }

  button {
    @include flex_hm();
    margin-top: 20px;
    @include regularBlueBtn_PC;

  }

}

.v-enter-from .v-leave-from {
  transition: right 1s ease-in-out;
  right: -100%;
}