table.member_data_table {
  border-collapse: separate;
  border-spacing: 0;
  @include table_PC;
  border: 1px solid $primaryBrandBlue;
  border-top: 0;
  border-radius: 15px;
  overflow: hidden;



  @include custom-responsive("xl") {
    width: 50vw;
  }

  @include custom-responsive("xx-l") {
    width: 40vw;
  }



  caption {
    text-align: left;
    @include h2_PC;
    padding: 10px 0;

    span {


      @include custom-responsive("xs sm") {
        font-size: 13px
      }

      @include custom-responsive("xl xx-l") {
        @include h6_PC;
      }
    }
  }

  th {
    background-color: $primaryBgBlue;
    color: $primaryBrandWhite;
    @include h5_PC;
    text-align: left;

    @include custom-responsive("xs sm") {
      padding-left: 20px;
    }

    @include custom-responsive("xl xx-l") {
      padding-left: 30px;
    }

  }

  th.mem_file {
    border-radius: 15px 0 0 0;
    width: 30%;

  }

  th.mem_id_title {
    text-align: center;
    border-radius: 0;
    padding-left: 0;

    @include custom-responsive("xs sm") {
      @include h6_PC;
      width: 30%;
    }

    @include custom-responsive("xl xx-l") {
      width: 0%;
      @include h5_PC;
    }

  }

  th.mem_id {
    padding: 1vh 2vw;
    border-radius: 0 15px 0 0;
    @include h6_PC;

    span {
      display: inline-block;
      margin-left: 20px;
      color: $primaryBrandWhite;
    }
  }

  th.contact,
  th.account {
    border-radius: 0px;
  }

  td.account_data {
    padding-left: 5vw;
  }

  td {
    border-bottom: 1px solid $functionalLightGrey2;


    @include custom-responsive("xs sm") {
      @include h6_PC;
      font-size: 14px;
    }

    @include custom-responsive("xl xx-l") {
      padding: 1vh 2vw;
      @include h6_PC;
    }


    span {
      display: inline-block;
      margin-left: 100px
    }
  }

  td.title {

    font-weight: bold;

    @include custom-responsive("xs sm") {
      padding-left: 3vw;
      width: 28%;
    }

    @include custom-responsive("xl xx-l") {
      width: 25%;
    }

  }


}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  margin: 20px;

  input[type="checkbox"] {
    cursor: pointer;
    border: 1px solid $primaryBrandBlue;
    transform: scale(1.3);
    user-select: none;
  }

  input[type="checkbox"]:checked {
    accent-color: $primaryBrandBlue;
  }
}

div {
  display: flex;
  align-items: first baseline;
}

label {
  margin-left: 10px;

  span {
    color: $primaryAccentGold;
    @include ftEffect;
  }
}

label,
span {
  @include h6_PC;
}

#id_title {
padding-right:20px ;
}