/* 🚩捷徑🚩 */

//桌機 PC 9
//使用說明

//---------------------------------------------------------------------------------------

table,
th,
td {
  border-collapse: collapse;
}


@mixin table_PC {

  tr,
  th {
    height: 55px;
  }

  th {
    border-radius: 15px 15px 0 0;
  }
}

@mixin table_MB {

  tr,
  th {
    height: 45px;
  }

  th {
    border-radius: 10px 10px 0 0;
  }
}







/* ⭐使用說明⭐ */
table.sassUsageExample {
  //桌機板
  @include table_PC();

  //手機板
  @include custom-responsive("xs sm") {
    @include table_MB();
  }

}
