table.checkout_table {
  @include custom-responsive("xs sm") {
    width: 80vw;
  }


  @include custom-responsive("xl xx-l") {
    width: 40vw;
  }

  caption {
    text-align: left;

    @include custom-responsive("xs sm") {
      @include h3_PC
    }
  
    @include custom-responsive("xl") {
      @include h3_PC
    }

    @include custom-responsive("xx-l") {
      @include h1_PC
    }

  }

  tbody {
    tr {
      border-bottom: 1px solid $functionalLightGrey3;
    }
  }

  tr {
    border: 0;

    th,
    td {
      border: 0;
      text-align: left;
    }

    th {
      border-bottom: 5px solid $primaryBrandBlue;

      @include custom-responsive("xs sm") {
        @include h6_PC;
        font-weight: bold;
        padding: 2vw 2vw 0;
      }

      @include custom-responsive("xl") {
        @include h6_PC;
        font-weight: bold;
        padding: 2vw 2vw 0;
      }

      @include custom-responsive("xx-l") {
        @include h4_B_PC;
        padding: 1vw 2vw 0;
      }

      @include custom-responsive("xl xx-l") {

      }

    }

    td {

      @include custom-responsive("xs sm") {
        padding: 2vh 2vw;
        @include h6_PC;
      }

      @include custom-responsive("xl") {
        padding: 3vh 2vw;
        @include h6_PC;
      }

      @include custom-responsive("xx-l") {
        width: 30%;
        padding: 30px 30px;
        @include h5_PC;
      }

      i {
   
        color: $primaryBrandBlue;
        cursor: pointer;
        @include btnEffect;
        display: block;
        width: 15%;
        text-align: center;
        @include custom-responsive("xl") {
          font-size: 25px;
        }
      
        @include custom-responsive("xx-l") {
          font-size: 30px;
        }
      }
    }

    td.add_and_remove {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;

      span.count {
        display: block;
        text-align: center;
        width: 30px;
      }
    }

    td.discard {
      width: 5%;

    }

  }

}