button {
  cursor: pointer;
  font-weight: $fWRegular;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    transform: translate(2px, 2px);
  }

}



//---------------------------------------------------------------------------------------
/* ⭐regular buttons size⭐ */


@mixin regularBtnSize_PC {
  width: 280px;
  height: 55px;
}

@mixin regularBtnSize_MB {
  width: 168px;
  height: 40px;
}


//---------------------------------------------------------------------------------------
/* ⭐small buttons size⭐ */

@mixin smallBtnSize_PC {
  width: 240px;
  height: 50px;
}

@mixin smallBtnSize_MB {
  width: 150px;
  height: 35px;
}


@mixin checkoutCardsBtnSize_PC {
  width: 180px;
  height: 50px;
}

@mixin checkoutCardsBtnSize_MB {
  width: 150px;
  height: 35px;
}



//---------------------------------------------------------------------------------------
/* ⭐repeat variables⭐ */

//PC
@mixin regularBtn_PC {
  @include regularBtnSize_PC;
  border-radius: $regularBtnBr;
  font-size: $regularBtnFs_PC;
}

@mixin smallBtn_PC {
  @include smallBtnSize_PC;
  border-radius: $smallBtnBr;
  font-size: $smallBtnFs_PC;
}


//MB
@mixin regularBtn_MB {
  @include regularBtnSize_MB;
  border-radius: $regularBtnBr;
  font-size: $regularBtnFs_MB;
}

@mixin smallBtn_MB {
  @include smallBtnSize_MB;
  border-radius: $smallBtnBr;
  font-size: $smallBtnFs_MB;
}

//checkout-cards buttons

@mixin checkoutCardsBtn_PC {
  @include checkoutCardsBtnSize_PC;
  border-radius: $checkoutBtnBr_PC;
  font-size: $regularBtnFs_PC;
}

@mixin checkoutCardsBtn_MB {
  @include checkoutCardsBtnSize_MB;
  border-radius: $checkoutBtnBr_MB;
  font-size: $smallBtnFs_MB;
}




/* ⭐使用說明⭐ */
.sassUsageExample {
  //不示範了
}