@import 'buttons';


/* 🚩捷徑🚩 */

//桌機 PC buttons 10
//手機 MB buttons 54


//---------------------------------------------------------------------------------------
/* ⭐桌機 PC buttons⭐ */

//🔵
//regular
@mixin regularBlueBtn_PC {
  @include regularBtnSize_PC;
  border-radius: $regularBtnBr;
  font-size: $regularBtnFs_PC;
  background-color: $btnBlue;
  color: $btnWhite;
  border: 0;
}

;

//small
@mixin smallBlueBtn_PC {
  @include smallBtnSize_PC;
  border-radius: $smallBtnBr;
  font-size: $smallBtnFs_PC;
  background-color: $btnBlue;
  color: $btnWhite;
  border: 0;
}

;


//⚪
//regular
@mixin regularWhiteBtn_PC {
  @include regularBtnSize_PC;
  border-radius: $regularBtnBr;
  font-size: $regularBtnFs_PC;
  background-color: $btnWhite;
  color: $btnBlue;
  border: 1px solid $btnBlue;
}

;

//small
@mixin smallWhiteBtn_PC {
  @include smallBtnSize_PC;
  border-radius: $smallBtnBr;
  font-size: $smallBtnFs_PC;
  background-color: $btnWhite;
  color: $btnBlue;
  border: 1px solid $btnBlue;
}

;


//🟡
//regular
@mixin regularGoldBtn_PC {
  @include regularBtnSize_PC;
  border-radius: $regularBtnBr;
  font-size: $regularBtnFs_PC;
  background-color: $btnGold;
  color: $btnWhite;
  border: 0;
}

;

//small
@mixin smallGoldBtn_PC {
  @include smallBtnSize_PC;
  border-radius: $smallBtnBr;
  font-size: $smallBtnFs_PC;
  background-color: $btnGold;
  color: $btnWhite;
  border: 0;
}

//---------------------------------------------------------------------------------------
/* ⭐手機 MB buttons⭐ */

//🔵
//regular
@mixin regularBlueBtn_MB {
  @include regularBtnSize_MB;
  border-radius: $regularBtnBr;
  font-size: $regularBtnFs_MB;
  background-color: $btnBlue;
  color: $btnWhite;
  border: 0;
}

;

//small
@mixin smallBlueBtn_MB {
  @include smallBtnSize_MB;
  border-radius: $smallBtnBr;
  font-size: $smallBtnFs_MB;
  background-color: $btnBlue;
  color: $btnWhite;
  border: 0;
}

;


//⚪
//regular
@mixin regularWhiteBtn_MB {
  @include regularBtnSize_MB;
  border-radius: $regularBtnBr;
  font-size: $regularBtnFs_MB;
  background-color: $btnWhite;
  color: $btnBlue;
  border: 1px solid $btnBlue;
}

;

//small
@mixin smallWhiteBtn_MB {
  @include smallBtnSize_MB;
  border-radius: $smallBtnBr;
  font-size: $smallBtnFs_MB;
  background-color: $btnWhite;
  color: $btnBlue;
  border: 1px solid $btnBlue;
}

;


//🟡
//regular
@mixin regularGoldBtn_MB {
  @include regularBtnSize_MB;
  border-radius: $regularBtnBr;
  font-size: $regularBtnFs_MB;
  background-color: $btnGold;
  color: $btnWhite;
  border: 0;
}

;

//small
@mixin smallGoldBtn_MB {
  @include smallBtnSize_MB;
  border-radius: $smallBtnBr;
  font-size: $smallBtnFs_MB;
  background-color: $btnGold;
  color: $btnWhite;
  border: 0;
}

;


//---------------------------------------------------------------------------------------
/* ⭐checkout-cards buttons⭐ */


@mixin checkoutSideListBtn_PC {
  @include checkoutSideListBtnSize_PC;
  border-radius: $checkoutBtnBr_PC;
  font-size: $regularBtnFs_PC;
  background-color: $btnBlue;
  color: $btnWhite;
  border: 0;
}









//---------------------------------------------------------------------------------------
/* ⭐checkout-cards buttons⭐ */

//PC

@mixin checkoutCardsBlueBtn_PC {
  @include checkoutCardsBtnSize_PC;
  border-radius: $checkoutBtnBr_PC;
  font-size: $regularBtnFs_PC;
  background-color: $btnBlue;
  color: $btnWhite;
  border: 0;
}

@mixin checkoutCardsWhiteBtn_PC {
  @include checkoutCardsBtnSize_PC;
  border-radius: $checkoutBtnBr_PC;
  font-size: $regularBtnFs_PC;
  background-color: $btnWhite;
  color: $btnBlue;
  border: 1px solid $btnBlue;
}

//MB

@mixin checkoutCardsBlueBtn_MB {
  @include checkoutCardsBtnSize_MB;
  border-radius: $checkoutBtnBr_MB;
  font-size: $smallBtnFs_MB;
  background-color: $btnBlue;
  color: $btnWhite;
  border: 0;
}

@mixin checkoutCardsWhiteBtn_MB {
  @include checkoutCardsBtnSize_MB;
  border-radius: $checkoutBtnBr_MB;
  font-size: $smallBtnFs_MB;
  background-color: $btnWhite;
  color: $btnBlue;
  border: 1px solid $btnBlue;
}

//---------------------------------------------------------------------------------------
/* ⭐spark-activity buttons⭐ */

//PC

@mixin sparkActivityBlueBtn_PC {
  @include sparkActivityBtnSize_PC;
  border-radius: $sparkActivityBtnBr_PC;
  font-size: $regularBtnFs_PC;
  background-color: $secondaryLightBlue3;
  color: $btnWhite;
  border: 0;
}

//MB

@mixin sparkActivityBlueBtn_MB {
  @include sparkActivityBtnSize_MB;
  border-radius: $sparkActivityBtnBr_MB;
  font-size: $smallBtnFs_MB;
  background-color: $secondaryLightBlue3;
  color: $btnWhite;
  border: 0;
}

//---------------------------------------------------------------------------------------
/* ⭐dream-star buttons⭐ */

//PC

@mixin dreamStarPlanBlueBtn_PC {
  @include dreamStarPlanBtnSize_PC;
  border-radius: $dreamStarPlanBtnBr_PC;
  font-size: $regularBtnFs_PC;
  background-color: $secondaryLightBlue3;
  color: $btnWhite;
  border: 0;
}

@mixin dreamStarPlanYellowBtn_PC {
  @include dreamStarPlanBtnSize_PC;
  border-radius: $dreamStarPlanBtnBr_PC;
  font-size: $regularBtnFs_PC;
  background-color: $decorativeYellow;
  color: $primaryBrandBlue;
  border: 0;
}

//MB

@mixin dreamStarPlanBlueBtn_MB {
  @include dreamStarPlanBtnSize_MB;
  border-radius: $dreamStarPlanBtnBr_MB;
  font-size: $smallBtnFs_MB;
  background-color: $secondaryLightBlue3;
  color: $btnWhite;
  border: 0;
}

@mixin dreamStarPlanYellowBtn_MB {
  @include dreamStarPlanBtnSize_MB;
  border-radius: $dreamStarPlanBtnBr_MB;
  font-size: $smallBtnFs_MB;
  background-color: $decorativeYellow;
  color: $primaryBrandBlue;
  border: 0;
}


