div.sponsor_checkout_container {
  width: 100%;
  position: relative;

  div.main_body {
    @include custom-responsive("xs sm") {
      @include body_space_MB
    }

    @include custom-responsive("xl xxl") {
      @include body_space_PC
    }

    div.checkout_wrap {


      div.checkout_table_wrap {}

      div.checkout_overview_wrap {
        @include flex_vm;
        gap: 40px;
        position: relative;
        top: 0;
        right: 0;


      }

    }
  }
}