div.letter_record_container {
    width: 100%;

    div.main_body {
        margin: auto;
        position: relative;

        @include custom-responsive("xs sm") {
            @include body_space_MB;
        }

        @include custom-responsive("xl xx-l") {
            @include body_space_PC;
        }

        #deco{
            position: absolute;
            &:nth-child(1){

                @include custom-responsive("xs sm md") {
                    width: 55px;
                    right: 10px;
                    top: -20px;
                }
        
                @include custom-responsive("lg xl xx-l") {
                    width: 65px;
                    right: -30px;
                    top: -100px;
                }
            }
            &:nth-child(2){
                width: 18%;
                bottom: -110px;
                left: -50px;

                @media (max-width: 992px) { 
                    display: none;
                }
            }
        }

        div.table{
            margin-bottom: 100px;
            margin-top: 280px;
            position: relative;

            @media (max-width: 992px) { 
                margin-top: 60px;
            }



            div.title{
                display: flex;

                #love_book{

                    @include custom-responsive("xs sm md") {
                        display: none;               
                    }
            
                    @include custom-responsive("lg xl xx-l") {
                        display: block;      
                        width: 45px;                 
                    }
                }

                h1{
                  color: $primaryBgBlue;
                  margin-left: 15px;

                  @media (max-width: 992px) { 
                    @include h1_MB;
                    margin: auto;               
                    }
                }
            }
            div.text{
                margin-top: 25px;
            }
            
            div.talk{
                
                #talk_img{                    
                    position: absolute;
                    @include custom-responsive("lg xl"){
                        right: 20px;
                        top: -55px;
                        width: 20%;
                    }
                    @include custom-responsive(" xx-l"){
                        right: 250px;
                        top: -55px;
                        width: 26%;
                    }
                }

                @include custom-responsive("xs sm md"){
                    display: none;
                }
                @include custom-responsive(" lg xl xx-l") {
                    display: block;
                }
            }

            .banner{
                position: absolute;
                right: -520px;
                top: -70px;

                #banner_img{
                    width: 30%;
                    height: 30%;
                }

                @include custom-responsive("xs sm md"){
                    display: none;
                }
                @include custom-responsive("lg xl xx-l") {
                    display: block;
                }
            }


            table.letter_table{
                border-radius: 15px;
                overflow: hidden;
                border-collapse: collapse;
                width: 100%;
                margin-bottom: 50px;
                margin-top: 70px;

                @media (max-width: 992px) {
                     margin-top: 40px;
                }




                thead{
                    @include h5_PC;

                    @media (max-width: 992px) {
                        display: none;
                    }

                  
                    th{
                        color: $primaryBrandWhite;
                        text-align: left;
                        padding: 10px 0 10px 30px;
                        background-color: $primaryBgBlue;     
                    }
                }

                tr.info{
                    @include h6_PC;

                    @media (max-width: 992px){
                        @include h5_MB;
                        display: block;
                        width: 100%;
                        margin-bottom: 30px;
                    }

 
                    td{
                        text-align: left;
                        padding: 15px 0 15px 30px;
                        color: $basicFontColor;
                        background-color:#ffffff; 
                        border: 1px solid $functionalLightGrey3;
                        transition: .3s;

                        @media (max-width: 992px){               
                            text-align: right;
                            padding-right: 5%;
                            display: block;
                            width: 100%;
                            position: relative;
                            border: 0.5px solid $functionalLightGrey3;
                        }
                    }

                    td::before{
                        @media (max-width: 992px){     
                            content: attr(data-title);          
                            position: absolute;
                            left:0;
                            padding-left:15px;
                            text-align: left;
                            @include h5_MB;
                        }
                    }

                    td.child_id{
                        @media (max-width: 992px){
                            @include h5_B_MB;
                            color: $secondaryLightBlue3;
                            background-color: $functionalBgLightGrey1;
                        }
                    }
                    &:hover td{
                        background-color:$functionalLightGrey1;
                    }
                    .click_jpg{
                        color: $secondaryLightBlue3;
                        text-decoration: underline;
                    }
                }
            }
            
            :deep(.v-pagination__item--is-active .v-btn__overlay){
                border: 1px solid $secondaryDarkBlue;
                color:white;
                opacity: 0.2;
            }
            :deep(.mdi:before){
                color:$primaryBrandBlue;
            }
            :deep(.v-btn__content){
                color:$primaryBrandBlue;
            }

            .overlay {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.15);
                z-index: 999;
            }
            
              
            dialog.modal-dialog {
                position: relative;
                position: fixed;
                border: none;
                outline: none;
                background-color: transparent;
                overflow: hidden;
                
                .letter{
                    width: 30vw;
                }

                @media (max-width: 767px){
                    position: absolute;
                    transform: translate(-17%, -15%);
                    top: 25%;
                    left: 25%;
                }
                @include custom-responsive("md lg") {
                    position: absolute;
                    top: 27%;
                    left: 27%;
                    transform: translate(-7%, -15%);
                }
                @include custom-responsive("xl xx-l") {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-40%, -50%);
                }


                button.close_btn{
                    width: 4.5rem;
                    top: 0;
                    position: absolute;

                    @media (max-width: 992px){
                       display: none;
                    }
                    @include custom-responsive("lg") {
                        right: 11%;
                    }
                    @include custom-responsive("xl xx-l") {
                        right: 13%;
                    }
                }

                .btn_icon{
                    max-width: 75%;
                    max-height: 75%;

                    @media (max-width: 767px){
                        max-width: 100%;
                    }
                }
            }            
        }
    }
}