:deep(.el-table__header-wrapper .el-table__header thead th .cell){
    color: #ffffff;
      background-color: #1D3D6C;
      font-size: 1rem;
      font-weight: 400;
      letter-spacing: .05rem;
}
:deep(.el-table__header-wrapper .el-table__header thead th){
    background-color: #1D3D6C;
}
:deep(table tbody tr td .cell){
    font-size: 1rem;
    letter-spacing: .05rem;
    font-weight: 400;
}
// :deep(.el-table .el-table__body-wrapper .el-table__row){
//     background-color: #EBC483;
// }