.container{
    @include custom-responsive("xl xx-l") {
      margin-top: 20vh;
    }
    width: 100%;
    .main_body{
            @include custom-responsive("xs sm") {
              @include body_space_MB;
            }
          
            @include custom-responsive("xl xx-l") {
              @include body_space_PC;
            }
          }
          .title{
            @include custom-responsive("xs sm") {
              margin: 2% auto;
            }
            @include custom-responsive("xl xx-l") {
                margin:0 0 3% 15%;
            }
            
            h1{
              color: $primaryBrandBlue;
              @include custom-responsive("xs sm") {
                @include h1_PC;
              }
              @include custom-responsive("xl xx-l") {
                @include h1_MB;
              }
              
            }
            h5{
              color:#9E9E9E;
              @include custom-responsive("xs sm") {
                @include h5_MB;
              }
              @include custom-responsive("xl xx-l") {
                @include h5_PC;
              }
            }
          }

          label.label_up_file {
            display: block;
            background-color: #F8F7F6;
            width: 250px;
            height: 250px;
            border: 2px dashed $functionalLightGrey3;
            border-radius: 50%;
            text-align: center;
            margin: 0px auto 30px;
            overflow: hidden; 
            cursor: pointer;
            position: relative;

            @include custom-responsive(" xs sm md lg "){
                margin-top: 10px;
            }
            @include custom-responsive(" xl xx-l "){
                margin-top: 0;
            }

            .up_file_text {
              padding: 60px 0 0;
              position: absolute;
              top: 44%;
              left: 50%;
              transform: translate(-50%, -50%);
              opacity: 0;
              transition: all 0.3s ease-in-out;
              &:hover{
                opacity: 1;
              }
                i {
                    font-size: 2.5rem;
                    color: $primaryBrandBlue;
                }
                p {
                    color: $primaryBrandBlue;
                }
            }
            img {
              display: block;
              width: 100%; 
              height: 100%; 
              object-fit: cover; 
            }
        }
        
          .main_form {
            padding: 5vh 0 15vh;
            margin: auto;
            display: flex;
            flex-direction: column;
            gap: 15px 0;
            position: relative;
            .deco{
              @include custom-responsive("xs sm") {
                display: none;
              }
              @include custom-responsive("xl xx-l") {
                display: block;
                #star1{
                  position: absolute;
                  top:12%;
                  right: 10%;
                  width: 3vw;
                }
                #star2{
                  position: absolute;
                  top:16%;
                  right: 4%;
                  width: 3vw;
                }
                #rocket{
                  position: absolute;
                  bottom: 0;
                  right: 0;
                  width:5cqw;
                }
              }

            }
            .form_item{
              display: flex;
              @include custom-responsive("xs sm") {
                  flex-direction: column;
              }
              @include custom-responsive("xl xx-l") {
                  position: relative;
                  flex-direction: row;
                  gap: 2vw;
              }

              label{
                @include custom-responsive("xl xx-l") {
                    width: 18%;
                    text-align: end;
                    line-height: 58px;
                }

              }
              span{
                @include h5_PC;
                line-height: 58px;
              }
              .name_title{
                @include custom-responsive("xs sm") {
                  position: static;
                  margin: 10px auto 4px;
                }
                @include custom-responsive("xl xx-l") {
                    position: absolute;
                    top: 0;
                    margin: 0;
                    display: flex;
                    width: fit-content;
                }

                @include custom-responsive("xl") {
                  right: -120px;
                }
                @include custom-responsive("xx-l") {
                  right: -100px;
                }
                .radio_item{
                  display: inline-block;
                  @include custom-responsive("xs sm") {
                      margin: 0 12px 0 5px;
    
                  }
                  @include custom-responsive("xx-l") {
                      width: 100%;
                  }
                  input{
                    margin-right: 10px;
                  }
                  
                }
                cursor: pointer;          
              }

            }

            .input_radio {
                width: 24px;
                height: 24px;              
                vertical-align: middle;
                background-color: #f9f9f9;
                cursor: pointer;
                border: none;
                margin-right: 10px;

                &:focus{
                  outline: none;
              }
            }

            label.receipt{
              margin-right: 10px;
            }
    
            div.birthday_wrap {
                display: flex;
                justify-content: space-between;
    
                div.birthday_select {
                    position: relative;
                    width: 31%;
    
                    select{
                        @include h5_PC;
                        width: 105%;
                        border: 1px solid $functionalLightGrey3;
                        border-radius: 10px;
                        padding: 10px;
                        margin-right:20px;
                        box-sizing: border-box;
                        color: $basicFontColor;
                        background-color: #f9f9f9;
                        cursor: pointer;
    
                        &:focus{
                            outline: 1px solid ;
                        }
                    }
    
                    i{
                        position: absolute;
                        top: 50%;
                        right: 0px;
                        font-size: 16px;
                        transform: translate(0,-50%);
                    }
                    span{
                      display: inline-block;
                      text-align: center;
                      width: 50px;
                    }
                }   
            }
    
            label {
              @include custom-responsive("xs sm") {
                @include h5_MB; 
              }
              @include custom-responsive("xl xx-l") {
                  @include h5_PC; 
              }
                
            }
    
            .confirm_button{
              display: flex;
              margin: auto;

              button.confirm{ 
                
                 @include custom-responsive("xs sm") {
                   @include regularBlueBtn_MB;
                   margin: 7% 5% 0 0;
                 }
                 @include custom-responsive("xl xx-l") {
                     @include regularBlueBtn_PC;
                     margin: 7% 3% 0 0;
                 }              
              }
            }

            .cancel {
              @include custom-responsive("xs sm") {
                @include regularWhiteBtn_MB;
                margin: 7% 5% 0 0;
              }
              @include custom-responsive("xl xx-l") {
                  @include regularWhiteBtn_PC;
                  margin: 7% 3% 0 0;
              }           
            }
          }
        
    }
    input {
      border: 1px solid $functionalLightGrey3;
      border-radius: 10px;
      padding: 10px;      
      box-sizing: border-box;
      background-color: #f9f9f9;

      @include custom-responsive("xs sm") {
        width: 100%;
        @include h5_MB;
      }
      @include custom-responsive("xl xx-l") {
        @include h5_PC;
        width: 60%;
      }
      &:focus{
          outline: 1px solid ;
      }
      &::placeholder{
          @include h6_PC;
          color: rgb(99, 99, 99, 0.35);
      }
    }
    .account_input{
      // border: 1px solid $functionalLightGrey3;
      border-radius: 10px;
      padding: 10px;      
      box-sizing: border-box;
      // background-color: #f9f9f9;
    }