div.banner{
  width: 100%;
  img{
    width: 100%;
    @include custom-responsive("xs sm") {
      &:nth-child(1){
        display: none;
      }
    }
    @include custom-responsive("xl xx-l"){
      &:nth-child(2){
        display: none;
      }
      &:nth-child(1){
        display: block;
      }
    }
  }
}
div.container{
    width: 100%;
    margin: auto;
    overflow: clip;
  div.main_body {
    
    @include custom-responsive("xs sm") {
      @include body_space_MB;
    }
    @include custom-responsive("xl xx-l") {
      @include body_space_PC
    }
    div.switch-button {
      margin-left: auto;
      width: fit-content;
      display: flex;
      a{
        text-align: center;
        line-height: 55px;
        text-decoration: none;
        display: inline-block;
        @include custom-responsive("xs sm"){
          @include h3_MB;
          margin: 8% 0;
          &:nth-child(1){
            @include regularBlueBtn_MB;
          }
          &:nth-child(2){
            @include regularWhiteBtn_MB;
          }
        }
        @include custom-responsive("xl xx-l") {
          @include h3_PC;
          margin: 0 10px;
          &:nth-child(1){
            @include regularBlueBtn_PC;
          }
          &:nth-child(2){
            @include regularWhiteBtn_PC;
          }
        }

      }

     
    }
    section.cover-story{
        margin: 3% 0;
        position: relative;
        cursor: pointer;
        div.deco{
          position: absolute;
          top: 15%;
          right: 10%;
          img{
            width: 5vw;
          }
        }
        div.title{

        @include custom-responsive("xl xx-l"){
          display: flex;
          align-items: center;
          justify-content: space-around;
        }
        h1{
          color: $primaryBrandBlue;
          @include custom-responsive("xs sm"){
            @include h1_MB;
            width: fit-content;
          }
          @include custom-responsive("xl xx-l") {
              @include h1_PC;
          }
        }
        div.decorative_line{
          @include custom-responsive("xs sm"){
            display: none;
          }
          @include custom-responsive("xl xx-l"){
            width: 40vw;
            img{
              width: 100%;
            }
            display: block;
          }

        }
      }
      div.story{
        margin: 8% 0;
        @include custom-responsive("xl xx-l") {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
        }

        div.pic{
          position: relative;
          @include custom-responsive("xs sm") {
             width: 90%;
             margin: auto;
          }
          @include custom-responsive("xl xx-l"){
            width: 50%;
            height: 40vh;
          }
            img{
              position: relative;
              z-index: 2;
              @include boxShadow_PC;
              @include custom-responsive("xs sm") {
                width: 100%;
                border-radius:$br_MB;
              }
              @include custom-responsive("xl xx-l") {
                border-radius:$br_PC;
                height: 100%;
                object-fit: cover;
                object-position: center;
              }
              
            }
            div.pic_under{
              position: absolute;
              width: 100%;
              height: 100%;
              top: 10%;
              left: -10%;
              z-index: 0;
            }

        }
        div.text{
          color: $basicFontColor;
          @include custom-responsive("xs sm") {
            width: 90%;
            margin:10% auto;
          }
          @include custom-responsive("xl xx-l"){
            width: 35%;
          }
          h4{
            @include custom-responsive("xl xx-l"){
              @include h4_B_PC;
            }
            @include custom-responsive("xs sm"){
              @include h4_B_MB;
            }
          }
          p{
            margin: 1% 0;
            @include custom-responsive("xl xx-l"){
              @include h6_PC;
            }
            @include custom-responsive("xs sm"){
              @include h6_MB;
            }
          }
      }
      }

    }
    section.warm-story{
      position: relative;
      div.deco{
        position: absolute;
        width: 10vw;
        bottom:5%;
        left: -15%;
        img{
          width: 100%;
        }
        &:nth-child(2){
          top: 10%;
          left: 100%;
        }
      }
      div.title{
        @include custom-responsive("xs sm") {
          margin: 18% auto;
          width: fit-content;
      }

        @include custom-responsive("xl xx-l") {
          display: flex;
          align-items: center;
          justify-content: space-around;
          position: relative;
          margin:6% 0;
          width: 100%;
        }

        div.name{
          width: fit-content;
          position: relative;
          h2{
            position: relative;
            z-index: 
            2;
            color: $primaryBrandWhite;
            @include custom-responsive("xs sm"){
              @include h2_MB;
            }
            @include custom-responsive("xl xx-l") {
                @include h2_PC;
            }
          }
          img.title_decorate{
            position: absolute;
            z-index: 0;
            @include custom-responsive("xs sm") {
              top: -15px;
              left: -55px;
            }
            @include custom-responsive("xl xx-l") {
              top: -15px;
              left: -45px;
            }
          }
        }

        div.decorative_line{
          @include custom-responsive("xs sm"){
            display: none;
          }
          @include custom-responsive("xl xx-l"){
            width: 40vw;
            img{
              width: 100%;
            }
            display: block;
          }

        }
      }
      div.story-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        div.card{
          @include custom-responsive("xs sm") {
            width: 85%;
            height: fit-content;
            background-color: $functionalLightGrey1;
            @include boxShadow_MB;
            border-radius: $br_MB;
            margin:4% 0;
          }
          @include custom-responsive("xl xx-l") {
            margin:2% 0;
            width: 32%;
            height: auto;
            display: flex;
            flex-direction: column;
            @include boxShadow_PC;
            border-radius: $br_PC;
          }
          div.pic{
            width: 100%;
            height: 50%;
            overflow: hidden;
            position: relative;
            @include custom-responsive("xs sm") {
              border-radius: $br_MB $br_MB 0 0;
              .card_hover_pic {
                display: none;
              }

            }
            @include custom-responsive("xl xx-l") {
              border-radius: $br_PC $br_PC 0 0;
              &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $primaryBrandBlue;
                opacity: 0;
                transition: .2s;
              }
      
              &::after {
                content: "READ STORY";
                position: absolute;
                left: 50%;
                top: -15%;
                transform: translate(-50%, -50%);
                letter-spacing: 0.4rem;
                color: #fff;
                transition: .2s;
              }
      
              .card_hover_pic {
                display: block;
                width: 66%;
                position: absolute;
                top: 40%;
                left: 100%;
                transform-origin: bottom left;
                transition: .2s;
              }
            }
            img{
              @include custom-responsive("xs sm"){
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: $br_MB $br_MB 0 0;
              }
              @include custom-responsive("xl xx-l"){
                border-radius: $br_PC $br_PC 0 0;
              }
              
          }
          }
          div.text{
            @include custom-responsive("xl xx-l") {
              border-radius:0 0  $br_PC $br_PC;
            }
            @include custom-responsive("xs sm") {
              
              box-sizing: border-box;
              padding: 8%;
              border-radius:0 0  $br_MB $br_MB;
            }
            div.date{
              color: $primaryAccentGold;
              margin: 1% 0;
            }
            h5{
              @include custom-responsive("xl xx-l"){
                @include h5_B_PC;
                margin: 4% 0;
              }
              @include custom-responsive("xs sm"){
                @include h5_B_MB;
              }
            }
            button{
              @include smallBlueBtn_MB;
              display: block;
              margin:7% 0 3% auto;
            }
          }
          &:hover .pic::before {
            opacity: 0.7;
          }
      
          &:hover .pic::after {
            top: 45%;
          }
      
          &:hover .card_hover_pic {
            transform: rotate(-43deg);
          }
          
        
        }
      }
    }
    div.change-page{
      @include custom-responsive("xs sm") {
        display: none;
      }
      @include custom-responsive("xl xx-l") {
        width: 30%;
        margin: 3% auto;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
      }

      i{
        color:$primaryBrandBlue;
        cursor: pointer;
      }
      button{
        @include h5_B_PC;
        width: 55px;
        height: 55px;
        border: 1px solid $primaryBrandBlue;
        border-radius: 50%;
        background-color:$primaryBrandWhite ;
        color:$primaryBrandBlue;
        cursor: pointer;
      }
      button.blue{
        background-color:$primaryBrandBlue;
        color:$primaryBrandWhite ;
      }
    }
    section.photo-album{
      @include custom-responsive("xs sm"){
        margin: 10% 0 45vh 0;
      }
      @include custom-responsive("xl xx-l"){
        margin: 10% 0;
      }
      
      position: relative;
      div.deco{
        @include custom-responsive("xs sm") {
          display: none;
        }
        @include custom-responsive("xl xx-l") {
          position: absolute;
          width: 20vw;
          bottom: 0;
          left: -25%;
          img{
            width: 100%;
          }
        }

      }
      div.title{
        @include custom-responsive("xs sm") {
          margin: 18% auto;
          width: fit-content;
      }
        @include custom-responsive("xl xx-l") {
          display: flex;
          align-items: center;
          justify-content: space-around;
          position: relative;
          margin:6% 0;
          width: 100%;
        }

        div.name{
          width: fit-content;
          position: relative;
          h2{
            position: relative;
            z-index: 
            2;
            color: $primaryBrandWhite;
            @include custom-responsive("xs sm"){
              @include h2_MB;
            }
            @include custom-responsive("xl xx-l") {
                @include h2_PC;
            }
          }
          img.title_decorate{
            position: absolute;
            z-index: 0;
            @include custom-responsive("xs sm") {
              top: -15px;
              left: -55px;
            }
            @include custom-responsive("xl xx-l") {
              top: -15px;
              left: -45px;
            }
          }
        }

        div.decorative_line{
          @include custom-responsive("xs sm"){
            display: none;
          }
          @include custom-responsive("xl xx-l"){
            width: 40vw;
            img{
              width: 100%;
            }
            display: block;
          }

        }
      }
      div.photoDisplay{
        @include custom-responsive("xs sm") {
        }
        @include custom-responsive("xl xx-l") {
          display: flex;
          align-items: center;
          width: 100%;
          justify-content: space-around;
          margin-bottom: 3%;
        }

        div.pic{
          @include custom-responsive("xs sm") {
            width: 85%;
            position: relative;
            margin: auto;
          }
          @include custom-responsive("xl xx-l") {
            width: 55%;
            height: 25vw;
            position: relative;
            margin: 0;
          }

          img{
            @include custom-responsive("xl xx-l") {
              border-radius: $br_PC*3 $br_PC*3 0 0;
            }
            @include custom-responsive("xs sm") {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
              border-radius: $br_MB*3 $br_MB*3 0 0;
            }
          }
          &::after{
            content: '';
            width: 100%;
            height: 2%;
            background-color: $primaryAccentGold;
            position: absolute;
            bottom: 0;
            left: 0;
          }
        }
        div.text{
          color: $basicFontColor;
          @include custom-responsive("xs sm") {
            width: 90%;
            margin: auto;
            position: absolute;
            top: 145%;
            transform: translate(-50%, -50%);
            left: 50%;
          }
          @include custom-responsive("sm"){
            top: 125%;
          }
          @include custom-responsive("xl xx-l") {
            position: static;
            width: 30%;
            transform: translate(0, 0);
            margin: 0;
          }

          div.branch-name{
            @include custom-responsive("xs sm") {
              @include h4_B_MB;
            }
            @include h4_B_PC;
            padding-bottom: 10%;
            position: relative;
            &::after{
              content: '';
              width: 7px;
              height: 2px;
              position: absolute;
              background-color: $basicFontColor;
              bottom: 25px;
              left: 0;
            }
          }
          h4{
            @include custom-responsive("xs sm") {
              @include h4_B_MB;
            }
            @include h4_B_PC;
            padding-bottom: 3%;
            color: $primaryAccentGold;
          }
          p{
            @include custom-responsive("xs sm"){
              @include h5_MB;
            }
            @include h5_PC;
          }
        }
      }
      div.photoSelect{
        @include custom-responsive("xs sm") {
          justify-content: space-between;
          display: flex;
          width: 110%;
          margin: 5% auto 0;
          position: relative;
          right: 5%;
        }
        @include custom-responsive("xl xx-l") {
          justify-content: space-evenly;
          position: static;
          margin: 0 auto;
          width: 100%;
        }
        

        div.pic{
          @include custom-responsive("xs sm") {
            width: 22%;
            height: 15vh;
            position: relative;
            z-index: 0;
          }
          @include custom-responsive("xl xx-l") {
            width: 21%;
            height: 20vh;
          }

          img{
            border-radius: $br_PC*2 $br_PC*2 0 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            cursor: pointer;
            position: relative;
            z-index: 0;
          }
          &::after{
            content: '';
            width: 0%;
            height: 5%;
            background-color: $primaryAccentGold;
            position: absolute;
            bottom: 0;
            left: 0;
            transition: .6s;
          }
          &:hover::after{
            width: 100%;
          }
        }
      }
    }
  }    
      div.gray::before{
        content: '';
        position: absolute;
        border-radius: $br_PC*2 $br_PC*2 0 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2;
        cursor: pointer;
      }
}
