.bulletinBoard{
    width: 100%;
    .bulletinBoard1{
        background-color: #fa0;
        .swiper-slider{
                width: 100%;
                height: 50vh;
                border-radius: $br_PC;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    
                }
            }
    }


    }