table.checkout_table {

  @include custom-responsive("xs sm") {
    width: 80vw;
  }


  @include custom-responsive("xl xx-l") {
    width: 40vw;
  }

  caption {
    text-align: left;

    @include custom-responsive("xs sm") {
      @include h3_PC
    }
  
    @include custom-responsive("xl") {
      @include h3_PC
    }

    @include custom-responsive("xx-l") {
      @include h1_PC
    }

  }

  tr {
    border: 0;

    th,
    td {
      border: 0;
      text-align: left;

    }

    th {
      border-bottom: 5px solid $primaryBrandBlue;

      @include custom-responsive("xs sm") {
        @include h4_B_PC;
        padding: 2vw 2vw 0;
      }

      @include custom-responsive("xl") {
        @include h5_PC;
        font-weight: bold;
        padding: 2vw 2vw 0;
      }

      @include custom-responsive("xx-l") {
        @include h4_B_PC;
        padding: 1vw 2vw 0;
      }

      @include custom-responsive("xl xx-l") {

      }
    }

    th.left_column{


      @include custom-responsive("xs sm") {
        width: 60%;
      }
    
      @include custom-responsive("xl xx-l") {
        width: 70%;
      }
    }

    td {
  
      @include custom-responsive("xs sm") {
        padding: 2vw 2vw 0;
        @include h5_PC;
      }

      @include custom-responsive("xl") {
        padding: 3vh 2vw;
        @include h5_PC;
      }

      @include custom-responsive("xx-l") {
        width: 30%;
        padding: 30px 30px;
        @include h5_PC;
      }

      i {
        font-size: 30px;
        color: $primaryBrandBlue;
        cursor: pointer;
        @include btnEffect;
        display: block;
        width: 15%;
        text-align: center;
        @include custom-responsive("xl") {
          font-size: 25px;
        }
      
        @include custom-responsive("xx-l") {
          font-size: 30px;
        }

      }
    }

  }

}