div.sponsor_checkout_container {
  width: 100%;
  position: relative;

  div.main_body {
    position: relative;

    @include custom-responsive("xs sm") {
      @include body_space_MB
    }

    @include custom-responsive("xl xxl") {
      @include body_space_PC
    }

    div.checkout_wrap {
      position: relative;
      top: -150px;
      @include flex_hm;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: 50px;

      div.member_data_table {
        @include flex_vm;
      }

      div.overview_wrap {
        @include flex_vm;
        gap: 40px;
      }
    }

    img {
      transform: rotateY(180deg);
      position: absolute;
      right: -12vw;
      top: 50vh;

    }



  }
}