div.sponsor_checkout_container {
  width: 100%;
  position: relative;

  div.main_body {
    position: relative;

    @include custom-responsive("xs sm") {
      @include body_space_MB
    }

    @include custom-responsive("xl xxl") {
      @include body_space_PC
    }

    div.checkout_wrap {
      position: relative;
      top: -150px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: 100px;

      div.checkout_table_wrap {}

      div.checkout_overview_wrap {
        @include flex_vm;
        gap: 40px;
      }
    }

    img {
      position: absolute;
      left: -12vw;
      top: 30vh;
      animation-name: rocket;

    }

    // @keyframes rocket {

    //   0%   {background-color: red;}
    //   25%  {background-color: yellow;}
    //   50%  {background-color: blue;}
    //   100% {background-color: green;}
    // }

    .filter-gold {
      filter: invert(73%) sepia(60%) saturate(311%) hue-rotate(357deg) brightness(90%) contrast(86%);
    }
  }
}