div.sponsor_checkout_container {
  width: 100%;
  position: relative;

  @include custom-responsive("xs sm") {
    height: 130vh;
  }

  @include custom-responsive("xl xx-l") {
    height: 100vh;
  }


  div.main_body {
    position: relative;

    @include custom-responsive("xs sm") {
      @include body_space_MB
    }

    @include custom-responsive("xl xxl") {
      @include body_space_PC
    }

    div.checkout_wrap {
      position: relative;
      display: flex;
      justify-content: center;

      @include custom-responsive("xs sm") {
        flex-direction: column;
        align-items: center;
        top: 15vh;
        gap: 3vh;
      }

      @include custom-responsive("xl") {
        gap: 50px;
      }

      @include custom-responsive("xx-l") {

        gap: 100px;
      }


      @include custom-responsive("xl xx-l") {
        flex-direction: row;
        align-items: flex-start;
        top: 25vh;
      }

      div.payment_wrap {
        @include flex_vm;
        gap: 5vh;
      }



      div.overview_wrap {
        @include flex_vm;
        gap: 40px;
      }

    }

    img {
      position: absolute;
      animation-name: rocket;

      @include custom-responsive("xs sm") {
        display: none;
      }

      @include custom-responsive("xl") {
        width: 10%;
        left: -15vw;
        top: 70vh;
      }
    }
  }
}