    div.login {
        @include custom-responsive(" xs sm "){
            width: 90%;
            margin: 200px auto 0;
            text-align: left;
        }
    
        @include custom-responsive(" md lg "){
            width: 50%;
            margin: 200px auto 0;
            text-align: left;
        }
        @include custom-responsive(" xl xx-l "){
            width: 30%;
            margin: 60px auto 0;
            margin-left: 46%;
            display: flex;
            flex-direction: column;
            text-align: left;
        }
        .error_account {
            @include h6_PC;
            color: red;
        }
        div.form_box {
            position: relative;
            margin: 30px 0 0 0;
        }
        div.form_box.account {
            // margin: 50px 0 0 0;
            position: relative;
            button {  
                color: white;
                background-color: $primaryBrandBlue;
                border: none;
                position: absolute;

                @include custom-responsive(" xs sm md lg "){
                    @include h5_MB;
                    width: 155px;
                    padding: 6px;
                    border-radius: 20px;
                    bottom: -51px;
                    right: 0;
                }
                @include custom-responsive(" xl xx-l "){
                    @include h5_PC;
                    width: 155px;
                    padding: 11px;
                    border-radius: 0 10px 10px 0;
                    bottom: 0;
                    right: 0;
                }

                i.fa-solid {
                    color: white;
                    padding: 0 10px 0 0;
                }
            }
        }
        div.form_box.safety_code {
            @include custom-responsive(" xs sm md lg "){
                padding-top: 50px;
            }
            @include custom-responsive(" xl xx-l "){
                padding-top: 0;
            }
            button {  
                color: white;
                background-color: $primaryBrandBlue;
                border: none;
                position: absolute;

                @include custom-responsive(" xs sm md lg "){
                    @include h5_MB;
                    width: 155px;
                    padding: 6px;
                    border-radius: 20px;
                    bottom: -51px;
                    right: 0;
                }
                @include custom-responsive(" xl xx-l "){
                    @include h5_PC;
                    width: 155px;
                    padding: 11px;
                    border-radius: 0 10px 10px 0;
                    bottom: 0;
                    right: 0;
                }

                i.fa-solid {
                    color: white;
                    padding: 0 10px 0 0;
                }
            }
        }
        input{
            border: 1px solid $functionalLightGrey3;
            border-radius: 10px;
            padding: 10px;
            width: 100%;
            box-sizing: border-box;
            background-color: #f9f9f9;
            @include custom-responsive(" xs sm md lg "){
                @include h5_MB;
            }
            @include custom-responsive(" xl xx-l "){
                @include h5_PC;
            }
        
            &:focus{
                outline: 1px solid ;
            }
            &::placeholder{
                color: rgb(99, 99, 99,0.35);
                @include custom-responsive(" xs sm md lg "){
                    @include h6_MB;
                }
                @include custom-responsive(" xl xx-l "){
                    @include h6_PC;
                }
            }
        }
        div.form_box.password img, div.form_box.password_check img {
            position: absolute;
            top: 50%;
            right: 20px;
            width: 25px;
            cursor: pointer;
            transform: translate(0,-50%);
        }
        button.next_step {
            text-align: center;
            width: 100%;
            background-color: $primaryAccentGold;
            @include custom-responsive(" xs sm md lg "){
                    @include regularBlueBtn_MB;
                    width: 100%;
                    margin: 35px auto 110px;
                }
                @include custom-responsive(" xl xx-l "){
                    @include regularBlueBtn_PC;
                    margin: 50px auto 0;
                }
        }
    }