@import "@/assets/sass/base/color";
@import '@/assets/sass/base/fonts/fonts-mixin';
@import '@/assets/sass/base/rwd/breakpoints';



@include custom-responsive("xs xm"){
  footer{

    div.footer_content{

      div.items{
          
      }
    }
  }
}

footer{
  width: 100%;
  background-image: url("/pictures/decorations/layout/footer.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  bottom: 0;
  left: 0;

  div.footer_content{
    display: flex;
    justify-content: space-around;

    div.information{
      margin-left: 2vw;
      margin-right: 2vw;

      div.logo{
        margin-top: 50%; 
        margin-bottom: 20%; 
      }

      div.business_hours{

        span{
          display: block;
          margin-bottom: 10px;
          color: $primaryBrandWhite;
        }
  
        span.service_hours{
          font-weight: $fWBold;
        }
  
        span.time{
          font-size: 32px;
          font-weight: $fWRegular;
        }
      }
  
      div.location{
        margin-top: 40px;
        color: $primaryBrandWhite;
  
        span.headquarters{
          display: block;
          margin-bottom: 17px;
          font-weight: $fWBold;
        }
  
        i{
          margin-bottom: 17px;
          margin-right: 18px;
        }
      }
    }

    div.items{

      div.list{
        display: flex;

        div{
          margin-top: 27%;
          margin-right: 2vw;

          h5{
            @include h5_B_PC();
            margin-bottom: 21px;

            .link{
              color: $primaryBrandWhite;
              text-decoration: none;
            }
          }

          h6{
            @include h6_PC();
            margin-bottom: 5px;

            .link{
              color: $primaryBrandWhite;
              text-decoration: none;
            }
          }
        }
      }

      div.newsletter{
        margin-top: 84px;
        
        label{

          h6{
            font-size: $h6Fs_PC;
            color: $primaryBrandWhite;
          }
        }

        input{
          display: block;
          width: 39%;
          margin-top: 10px;
          border-radius: 100px;
          padding: 15px;
          box-sizing: border-box;
          background-color: transparent;
          color: $primaryBrandWhite;

          &::placeholder{
            color: rgba(255, 255, 255, 0.45);
            text-indent: 10px;
          }

          &:focus{
            outline: none;
            text-indent: 10px;
          }
        }
      }
    }
  }

  div.footer_copyright{
    margin-top: 66px;
    border-top: 0.5px solid $primaryBrandWhite;

    div.copyright{
      display: flex;
      justify-content: end;
      padding: 30px;
      box-sizing: border-box;
      margin-right: 182px;
      color: $primaryBrandWhite;
    }
  }
}
