@import "@/assets/sass/base/_color.scss";
@import "@/assets/sass/base/fonts/_fonts.scss";
@import "@/assets/sass/base/fonts/_fonts-mixin.scss";
@import "@/assets/sass/base/_box-shadow.scss";
@import '@/assets/sass/base/rwd/breakpoints';

// div.left_menu{
//     margin-top: 759px;
//     width: 345px;
//     height: 400px;
//     border-radius: 0px 25px 25px 0px;
//     @include boxShadow_PC;
//     h2{
//         font-size: $h2Fs_PC;
//         color: $primaryBrandBlue;
//         font-weight: $fWBold;
//         padding: 59px 105px 31px 61px;
//     }
//     li{
//         list-style: none;
//         .link{
//             text-decoration: none;
//             h3{
//                 width: 168px;
//                 font-size: $h3Fs_PC;
//                 color: $primaryBrandBlue;
//                 font-weight: $fWRegular;
//                 padding: 16px 0px 16px;
//                 margin-left: 61px;
//                 border-bottom: 1px solid $functionalLightGrey3;
//             }
//         }
//     }
// }

// @include custom-responsive("xs") {
//     div.left_menu_container{
//         display: none;}
//   }

//   @include custom-responsive("xl ") {
//     div.left_menu_container{
//         margin-top: 40%;
//         width: 18vw;
//         border-radius: 0px 25px 25px 0px;
//         @include boxShadow_PC;
//         h2{
//             font-size: $h2Fs_PC;
//             color: $primaryBrandBlue;
//             font-weight: $fWBold;
//             padding: 60px 105px 30px 60px;
//             box-sizing: border-box;
//         }
//         li{
//             list-style: none;
//             .link{
//                 text-decoration: none;
//                 h3{
//                     width: 49%;
//                     font-size: $h3Fs_PC;
//                     color: $primaryBrandBlue;
//                     font-weight: $fWRegular;
//                     padding: 15px 0px 15px;
//                     box-sizing: border-box;
//                     margin-left: 17%;
//                     border-bottom: 1px solid $functionalLightGrey3;
//                 }
//             }
//         }
//     } 
//   }



    div.left_menu_container{
        position: absolute;
        top: 800px;
        left: 0;
        // margin-top: 40%;
        width: 18vw;
        border-radius: 0px 25px 25px 0px;
        @include boxShadow_PC;
        h2{
            font-size: $h2Fs_PC;
            color: $primaryBrandBlue;
            font-weight: $fWBold;
            padding: 60px 105px 30px 60px;
            box-sizing: border-box;
        }
        li{
            list-style: none;
            .link{
                text-decoration: none;
                h3{
                    width: 49%;
                    font-size: $h3Fs_PC;
                    color: $primaryBrandBlue;
                    font-weight: $fWRegular;
                    padding: 15px 0px 15px;
                    box-sizing: border-box;
                    margin-left: 17%;
                    border-bottom: 1px solid $functionalLightGrey3;
                }
            }
        }
    }




  
