@import '@/assets/sass/base/color';
@import '@/assets/sass/base/fonts/fonts-mixin';
@import '@/assets/sass/base/border-radius';

    .rightMenu{
        position: fixed;
        z-index: 22;
        right: 0;
        top: 55%;
        transform: translateY(-50%);
        ul{
            background-color: $secondaryLightBlue3;
            list-style: none;
            color: #fff;
            border-radius: 20px 0  0 20px;
            @include h6_PC;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5%;

            li{            
                padding: 10%;
                a{
                    text-decoration: none;                
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    @include h5_B_PC;
                    color: $primaryBgWhite;
                }
                img{
                    max-width: 72px;
                    &:hover{
                        scale: 1.1;
                    }
                }
            }
        }
        .other{
            display: flex;
            flex-direction: column;
            width: 110px;
            margin: 20px auto 0;
            align-items: center;
            gap: 15px;
            cursor: pointer;
            #top{
                background: none;
                border: none;
                cursor: pointer;
            }
        }
    }
