
@include custom-responsive("xs"){
    .rightMenu{
        display: none;
    }
    .rightMenu_MB{
        width: 90vw;
        position: fixed;
        bottom: 2%;
        left: 50%;
        transform: translate(-50%);
        z-index: 22;
        #top{
            background: none;
            border: none;
            cursor: pointer;
            position:absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 20vw;
            img{
                width: 100%;
            }
        }
        ul{
            margin: auto;
            display: flex;
            padding: 2% 0%;
            list-style: none;
            justify-content: center;
            gap: 12%;
            align-items: center;
            background-color: $secondaryLightBlue3; 
            border-radius: $br_MB;
            ul{
                display: flex;
                width: 40%;
                justify-content: space-evenly;
                position: relative;
                li{
                    color:$primaryBrandWhite;
                    a{
                        color:$primaryBrandWhite;
                        text-decoration: none;
                    }
                }
            }
        }
        li + li::before{
            content: '';
            width: .5px;
            height: 80%;
            background-color: #fff;
            position: absolute;
            top: 50%;
            right: 50%;
            transform: translate(-50%, -50%);
        }
    }

}
@include custom-responsive("sm"){
    .rightMenu_MB{
        width: 70vw;
        #top{
            width: 15vw;
        }

    }

}
@include custom-responsive("md"){
    .rightMenu_MB{
        display: none;
    }
    .rightMenu{
        display: block;
        position: fixed;
        z-index: 22;
        right: 0;
        top: 55%;
        transform: translateY(-50%);
        width: 10vw;
        ul{
            background-color: $secondaryLightBlue3;
            list-style: none;
            color: #fff;
            border-radius: 20px 0  0 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 4%;
            li{ 
                padding: 6% 0;   
                font-size: 14px; 
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: $primaryBgWhite;
                cursor: pointer;
                a{ 
                    font-size: 14px; 
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    color: $primaryBgWhite;
                    text-decoration: none;                
                }
                div.icon{
                    width: 60%;
                    img{
                        width: 100%;
                        &:hover{
                            scale: 1.1;
                    }
                }
                }

            }
        }
        div.other{
            display: flex;
            flex-direction: column;
            margin: 2vh auto 0;
            align-items: center;
            gap: 1vh;
            cursor: pointer;
            .icon{
                width: 50%;
                img{
                    width: 100%;
                }
            }
            #top{
                background: none;
                border: none;
                cursor: pointer;
            }
        }
    }
}
@include custom-responsive("lg"){
    .rightMenu{
        width: 8vw;
        ul{
            li{ 
                font-size: 14px;
                div.icon{
                    width: 60%;
                    img{
                        width: 100%;
                        &:hover{
                            scale: 1.1;
                    }
                }
                }

            }
        }
    }
}
@include custom-responsive("xxl"){
    .rightMenu{
        width: 6vw;
        ul{     
            padding: 0;   
            li{     
                padding: 8% 0;
                width: 100%;
                a{
                    width: 100%;
                }
                div.icon{
                    width: 60%;
                    img{
                        width: 100%;
                        &:hover{
                            scale: 1.1;
                    }
                }
                }

            }
        }
        div.other{
            margin: 2vh auto 0;
            gap: 1vh;
            .icon{
                width: 50%;
                img{
                    width: 100%;
                }
                button{
                    width: 100%;
                }
            }
        }
}
    
}
    