p.text {
  text-align: center;
  color: $primaryBrandBlue;
  width: 80vw;

  margin: 3vh auto;
}



div.danmaku {
  width: 100%;

  border: 1px solid black;
  box-sizing: border-box;

  @include custom-responsive("xs sm") {
    height: 35vh;
  }

  @include custom-responsive("xl xx-l") {
    height: 60vh;
  }



  .vue_danmaku {

    width: 100%;
    height: 50vh;
    color: red;

  }


}

span.message {
  padding: 1vw 2vw;
  display: inline-block;
  text-align: center;
  border-radius: 100px;
  background-color: $messageColor;
  color: $primaryBrandBlue;
  font-weight: bold;
  margin: 2vw;
  font-size: $h4Fs_PC;
}



div.input_text {
  margin-top: 5vh;
  gap: 2vw;
  @include flex_hm;

  @include custom-responsive("xs sm") {
    flex-direction: column;
    gap: 3vh;
  }

  @include custom-responsive("xl xx-l") {
    width: 70vw;
    flex-direction: row;

  }

  input.input {
    background-color: $decorativeYellow;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 2vw;

    &::placeholder {
      color: #BFA44B;
      opacity: 1;
    }


    @include custom-responsive("xs sm") {
      width: 80vw;
      height: 7vh;
      text-align: center;
      outline: 1vw solid $decorativeYellow;
      border: 0.8vw solid $primaryBrandWhite;
    }

    @include custom-responsive("xl") {
      width: 50vw;
      height: 10vh;
      font-size: $h5Fs_PC;
      text-align: left;
      outline: 0.5vw solid $decorativeYellow;
      border: 0.2vw solid $primaryBrandWhite;
    }

    @include custom-responsive("xx-l") {
      width: 50vw;
      height: 10vh;
      font-size: $h3Fs_PC;
      text-align: left;
      outline: 0.5vw solid $decorativeYellow;
      border: 0.2vw solid $primaryBrandWhite;

    }


  }

  button.send {
    color: $primaryBrandBlue;
    @include h2_PC;
    border-radius: 50%;
    background-color: $decorativeYellow;

    @include custom-responsive("xs sm") {
      width: 25vw;
      height: 25vw;
      border: 1.2vw solid $primaryBrandWhite;
      outline: 0.8vw solid $decorativeYellow;
    }

    @include custom-responsive("xl xx-l") {
      width: 6vw;
      height: 6vw;
      border: 0.5vw solid $primaryBrandWhite;
      outline: 0.3vw solid $decorativeYellow;
    }


  }

}