*{
    // outline: 1px solid rgb(255, 183, 183);
}

div.about_banner{
    width: 100%;
    img{
        width: 100%;
    }
}

div.about_container {
    width: 100%;

    div.main_body {
        width: 62.5vw;
        margin: auto;
        position: relative;

        img.deco{
            position: absolute;

            &:nth-child(1){
                right: -380px;
                top: 1330px;
            }
            &:nth-child(2){
                width: 15%;
                top: 1550px;
                right: -180px;
            }
            &:nth-child(3){
                bottom: 800px;
                left: -340px;
            }
        }
        div.title_block {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px 0 35px;

            h1 {
                @include h1_PC;
                color: $primaryBrandBlue;
                display: inline-block;
            }
            img.deco_line{
                width: 78%;
            }
        }
        div.title_text{
            @include h6_PC;
            color: $basicFontColor;
        }

        //3張展開的照片
        div.card_wrapper{
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 50px 0;
            
          
            .about_card_1 {
                width: 25%;
                transform: rotate(-10deg);
          
              img {
                width: 100%;
                height: auto;
                border-radius: $br_PC;
              }
            }
            .about_card_2 {
                width: 40%;
          
              img {
                width: 100%;
                height: auto;
                border-radius: $br_PC;
              }
            }
            .about_card_3 {
                width: 25%;
                transform: rotate(10deg);
          
              img {
                width: 100%;
                height: auto;
                border-radius: $br_PC;
              }
            }         
        }

        //緣起
        div.origin_title{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px 0 35px;

            h2{
                @include h2_PC;
                color:$primaryBrandBlue;
                display: inline-block;
            }
            img.deco_line{
                width: 90%;
            }
        }
        div.origin_text{
            @include h6_PC;
            color: $basicFontColor;
            margin: 0 0 50px 0;

            p{
                padding: 15px 0;
            }
        }

        //願景
        div.vision_title{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px 0 35px;

            h2{
                @include h2_PC;
                color:$primaryBrandBlue;
                display: inline-block;
            }
            img.deco_line{
                width: 90%;
            }
        }
        div.vision_text{
            @include h6_PC;
            color: $basicFontColor;
        }

        div.vision_house{
            margin: 70px 0;

            div.bgc_primaryblue{
                background-color: $primaryBrandBlue;
                padding-bottom: 5px;

                div.bottom_line::before{
                    position: absolute;
                    content: '';
                    margin-top: -197px;
                    width: 100%;
                    height: 1px;
                    background-color: rgb(255, 255, 255, 0.3);
                }              
                div.bottom_line{
                    position: relative;
                    margin: 20px auto;
                    width: 82%;
                    height: 1px;
                    background-color: rgb(255, 255, 255, 0.3);
                }
                div.bottom_line::after{
                    position: absolute;
                    content: '';
                    margin-top: -412px;
                    width: 100%;
                    height: 1px;
                    background-color: rgb(255, 255, 255, 0.3);
                }

                div.vision_content{
                    @include h6_PC;
                    display: flex;
                    align-items: center;
                    color: $primaryBrandWhite;
                    padding: 65px 100px 0;
                    

                    div.icon_title{
                        @include h4_PC;
                        width: 20%;
                        margin-right: 80px;
                        color: $primaryBrandWhite;
                        text-align: center;


                        h4{
                            white-space: nowrap;
                        }
                    }                   
                }
            }
            img.roof{
                width: 100%;
            }
        }

        //服務據點
        div.branch_title{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px 0 35px;

            h2{
                @include h2_PC;
                color:$primaryBrandBlue;
                display: inline-block;
            }
            img.deco_line{
                width: 80%;
            }
        }
        div.branch_card_wrapper{
            display: flex;
            gap: 40px;
            flex-wrap: wrap;
            justify-content: flex-start;
            padding-top: 30px;

            div.branch_card{
                background-color: $functionalLightGrey1;
                border-radius: $br_PC;
                width: 30%;
                // margin: 0 35px 40px 0;
                transition: .2s;
                position: relative;

                &:hover {
                    background-color: $primaryBrandBlue;
                    transform: scale(1.05);
                }
                &:hover h5{
                    color: $primaryBrandWhite;
                }
                &:hover p{
                    color: $primaryBrandWhite;
                }
                &:hover i.fa-solid{
                    color: $primaryBrandWhite;
                }
                &:hover img.telescope{
                    transform: translateY(40%);
                }
            }
                
            div.branch_info{
                padding: 35px;
 
                h5{
                    @include h5_B_PC;
                    color: $basicFontColor;
                    padding: 0 0 20px 0;
                }
                p{
                    @include h6_PC;
                    color: $basicFontColor;
                    padding: 5px 0;

                    i.fa-solid{
                        color:$primaryBrandBlue;
                        width: 12%;
                        font-size: $h5Fs_PC;
                    }
                }           
            }
            img.telescope{
                color: $primaryBrandWhite;
                position: absolute;
                bottom: 40px;
                width: 25%;
                right: 7%;
                transition: transform 0.3s ease; 
                transform: translateY(200%); 
            }
        }

        //faq
        div.faq_title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 80px 0 30px;

            h2{
                @include h2_PC;
                color:$primaryBrandBlue;
                display: inline-block;
            }
            img.deco_line{
                width: 75%;
            }
        }
        div.faq_wrapper{
           margin: 30px 0 150px;

            div.faq_field{
                margin: 20px 0;


                div.open_faq{
                    width: 100%;
                    cursor: pointer;
                    border: 1px solid $primaryBrandBlue;
                    border-radius: $br_PC;

                    h5{
                        @include h5_PC;
                        color: $primaryBrandBlue;
                        display: flex;
                        align-items: center;     
                        justify-content: space-between;
                        padding: 10px 50px;
                        margin: 10px 0;           


                        .fa-plus{
                            color: $primaryBrandBlue;
                            transition: transform 0.3s;
                        }
                        .rotate{
                            transform: rotate(45deg);
                        }
                    }

                    p.invisible{
                        @include h6_PC;
                        
                        padding: 0px 50px;
                        opacity: 0;
                        color: $basicFontColor;
                        visibility: hidden;
                        height: 0;
                        transition: opacity .3s, height .3s, padding 0.3s, visibility .3s;
                    }
                    p.visible {
                        @include h6_PC;
                        padding: 20px 50px 0;
                        opacity: 1;
                        color: $basicFontColor;
                        visibility: visible;
                        height: 80px;
                        transition: opacity .3s, height .3s, padding 0.3s, visibility .3s;
                        background-color: $functionalLightGrey1;
                        border-radius:0 0 30px 30px;               
                    }
                }
            }
        }
      
    }
}
