@import'@/assets/sass/base/border-radius';
@import'@/assets/sass/base/color';
@import'../../../assets/sass/base/fonts/fonts-mixin';

div.title_img {
    img {
        max-width: 100%;
    }
}

div.main_body {
    width: 1200px;
    margin: auto;

    div.title_block {
        display: flex;

        h1 {
            width: auto;
            @include h1_PC;
            color: $primaryBgBlue;
        }

        div.top_line {
            display: flex;
            align-self: center;
            width: 70%;
            margin-left: 40px;
            height: 1px;
            border-bottom: 1px solid $functionalLightGrey4;
            
        }
    }

    div.title_text {
        p {
            @include h6_PC;
            color: $basicFontColor;
            padding: 20px 0;
        }

        .border_line {
            border: 4px solid $primaryBgBlue;
        }
    }

    div.contact_block {
        div.contact_message {
            div.contact_message_inner {
                display: flex;
                align-items: center;
                padding: 20px 0;

            }

            img {
                width: 35%;
                border-radius: $br_PC;
            }

            .contact_text {
                padding-left: 50px;

                h4 {
                    @include h4_B_PC;
                    color: $basicFontColor;
                    padding: 20px 0;
                }

                p {
                    @include h6_PC;
                    color: $basicFontColor;

                }

            }

            .text_line {
                width: 100%;
                border: 1px solid $functionalLightGrey4;
            }
        }

        div.map {
            h2 {
                padding: 50px 0 30px;
                @include h2_PC;
                color: $primaryBgBlue;
            }
            iframe{
                width: 100%;
            }
        }
    }
}