@import'@/assets/sass/reset';
@import'@/assets/sass/base/border-radius';
@import'@/assets/sass/base/color';
@import'@/assets/sass/base/fonts/fonts-mixin';
@import'@/assets/sass/base/rwd/breakpoints';

div.title_img {
    img {
        max-width: 100%;
    }
}

div.container {
    width: 100%;
    div.main_body {
        width: 62.5vw;
        margin: auto;

        div.title_block {
            display: flex;
            @include custom-responsive(" xs sm") {
                justify-content: center;
            }

            @include custom-responsive(" xl xxl") {
                justify-content: start;
            }


            h1 {
                width: auto;
                color: $primaryBgBlue;

                @include custom-responsive(" xs sm") {
                    @include h1_MB;

                }

                @include custom-responsive(" xl xxl") {
                    @include h1_PC;
                }
                
            }

            div.top_line {


                @include custom-responsive(" xs sm") {
                    display: none;
                }

                @include custom-responsive(" xl xxl") {
                    @include h1_PC;
                    display: flex;
                    align-self: center;
                    width: 70%;
                    margin-left: 40px;
                    height: 1px;
                    border-bottom: 1px solid $functionalLightGrey4;
                }
            }
        }
        div.title_text{
            p{
                @include custom-responsive(" xs sm") {
                    @include h6_MB;
                    padding: 20px 0;

                }

                @include custom-responsive(" xl xxl") {
                    @include h6_PC;
                }
            }

        }
        div.contact_block {
            div.contact_message {
                div.contact_message_inner {
                    align-items: center;
                    padding: 20px 0;

                    @include custom-responsive(" xs sm") {
                      
                    }

                    @include custom-responsive(" xl xxl") {
                        display: flex;
                        align-items: center;
                    }

                }

                img {
                   
                    @include custom-responsive(" xs sm") {
                        width: 100%;
                        border-radius: $br_MB;
                    }

                    @include custom-responsive(" xl xxl") {
                        width: 35%;
                        border-radius: $br_PC;
                    }
                }

                .contact_text {
                   
                    @include custom-responsive(" xs sm") {
                       
                    }

                    @include custom-responsive(" xl xxl") {
                        padding-left: 50px;
                    }
                    h4 {
                        padding: 20px 0;
                        color: $basicFontColor;
                        @include custom-responsive(" xs sm") {
                            @include h4_B_MB;
                       
                        }
    
                        @include custom-responsive(" xl xxl") {
                            @include h4_B_PC;
                            
                        }

                    }

                    p {
                        color: $basicFontColor;
                        @include custom-responsive(" xs sm") {
                            @include h6_MB;
                        }
    
                        @include custom-responsive(" xl xxl") {
                            @include h6_PC;
                        }
                       
                        

                    }

                }

                .text_line {
                    width: 100%;
                    border: 1px solid $functionalLightGrey4;
                }
            }

            div.map {
                h2 {
                    color: $primaryBgBlue;
                    padding: 50px 0 30px;
                    @include custom-responsive(" xs sm") {
                        @include h2_MB;
                    }

                    @include custom-responsive(" xl xxl") {
                        @include h2_PC;
                    }
                 
                    
                    
                }

                iframe {
                    width: 100%;
                }
            }
        }
    }
}