.bg-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(31, 31, 31, .4);

    .letter-wrapper {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 12vh;

        .letter {
            position: relative;
            margin: auto;
            margin-top: 220px;
            z-index: 1;
            background: #ffffff;
            animation: bounceIn 1s;

            @include custom-responsive(" xs sm ") {
                width: 90vw;
            }

            @include custom-responsive(" xl xx-l ") {
                width: 35vw;
            }

            &::before {
                content: "";
                width: 100%;
                height: 55%;
                position: absolute;
                z-index: 2;
                background-image: url('/pictures/images/letter-animation/letter_back.svg');
                background-size: cover;
                transform-origin: top;
                transition: all 0.7s ease-in-out 0.7s;
            }


            .card {
                position: absolute;
                bottom: 20%;
                width: 30%;
                left: 35%;
                z-index: -1;
                text-align: center;
                transition: all 0.5s ease-in-out;

                img.child_letter {
                    width: 100%;
                }

                .close-icon {
                    position: absolute;
                    right: 5%;
                    top: 6%;
                    z-index: 3;
                    font-size: 0.75rem;
                    color: $primaryBrandBlue;
                    cursor: pointer;
                }
            }

            img.letter_front {
                vertical-align: bottom;
            }
        }

        .text {
            color: white;
            z-index: 2;
            width: 100%;

            @include custom-responsive(" xs sm lg ") {
                @include h5_MB;
            }

            @include custom-responsive(" xl xx-l ") {
                @include h5_PC;
            }

        }

        .notice {
            font-size: 0.875rem;
            letter-spacing: .05rem;
            color: $primaryBrandBlue;
            z-index: 2;
            width: 100%;

            @include custom-responsive(" xs sm lg ") {
                @include h6_MB;
            }

            @include custom-responsive(" xl xx-l ") {
                @include h6_PC;
            }
        }

        .open_icon {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 10%;
            z-index: 4;
            transform: translate(-50%, -10%);
            transition: transform 0.4s ease-in-out 1.3s;
            cursor: pointer;
        }
    }
}

.bg-wrapper .flap .letter {
    &::before {
        transform: rotateX(180deg);
        z-index: -1;
    }

    .card {
        transform: translateY(-90%) scale(3);
        transition-delay: 1.3s;
        // z-index: 2;

        .close-icon {
            transform: translateY(-50%) scale(0.5);
        }
    }
}

.bg-wrapper .flap .open_icon {
    transform: rotate(45deg);
    transition-delay: 0.5s;
    //   z-index: initial;
}