div.login_body {
    display: flex;

    img.title_img {
        @include custom-responsive("xs sm ") {
            display: none;
        }

        @include custom-responsive("xl xx-l") {
            display: block;
            width: 33%;
        }
    }

    div.login {
       
        padding: 8% 0 0 10%;
        display: flex;
        flex-direction: column;

        @include custom-responsive("xs sm ") {

        }

        @include custom-responsive("sm xl") {
            width: 60%;
        }

        @include custom-responsive("xl xx-l") {
            width: 50%;
        }

        h1 {
            color: $primaryBrandBlue;
            font-size: $h1Fs_PC;
            padding: 40px 0px;
        }

        label {
            @include h5_PC;
        }

        input {
            @include h5_PC;
            border: 1px solid $functionalLightGrey3;
            border-radius: 10px;
            padding: 10px;

            background-color: #f9f9f9;

            &:focus {
                outline: 1px solid;
            }

            &::placeholder {
                @include h6_PC;
                color: rgb(99, 99, 99, 0.35);
            }

            @include custom-responsive("xs sm ") {
                width: 100%;
            }

            @include custom-responsive("xl xx-l") {
                width: 70%;
            }
        }

        input.account {
            margin: 0 0 20px 0;
        }

        input.password {
            margin: 0 0 20px 0;
        }

        .recaptcha_forget_block {
            @include custom-responsive("xs sm ") {
                display: block;
            }

            @include custom-responsive("xl xx-l") {
                display: flex;
            }

            div.forgot_psw {
                @include h6_PC;


                i {
                    color: $secondaryLightBlue2;
                    font-size: $h5Fs_PC;
                    margin-right: 5px;
                }

                a {
                    text-decoration: none;
                }

                @include custom-responsive("xs sm ") {
                    padding: 10px 0 0 0;
                }

                @include custom-responsive("xl xx-l") {
                    padding-left: 30px;
                }
            }
        }

        div.error_account {
            display: block;
        }

        button.login_button {
            @include h5_PC;
            display: block;
            background-color: $primaryAccentGold;
            color: $primaryBrandWhite;
            border-radius: $br_PC;
            border: 1px solid $primaryBrandWhite;
            height: 55px;
            width: 70%;
            margin-top: 50px;
        }

        div.error_account {
            color: red;
            margin-top: 10px;
        }

        div.password_wrapper {
           
            div.password_block{
                 position: relative;
                display: flex;
            }

            img {
                position: absolute;
               
                width: 25px;
                top: 0;
                cursor: pointer;
                padding: 25px 0;
                @include custom-responsive("xs sm ") {
                    left: 90%;
                }

                @include custom-responsive("xl xx-l") {
                    left: 60%;
                }
            }


        }

        div.login_methods {
            align-items: center;
            display: flex;
            justify-content: space-between;
            width: 70%;
            margin-top: 30px;

            h6 {
                color: #bebdbd;
            }

            div.line {
                width: 35%;
                height: 1px;
                background-color: #bebdbd;
            }
        }

        button.google_login {
            @include h5_PC;
            display: block;
            background-color: $primaryBgBlue;
            color: $primaryBrandWhite;
            border-radius: $br_PC;
            border: 1px solid $primaryBrandBlue;
            height: 55px;
            width: 70%;
            margin-top: 30px;

            div.errorAccount {
                color: red;
                margin: 10px 0 10px 10px;
            }

            .login_title {
                display: flex;
                justify-content: space-between;
            }

        }
    }
}