div.login_body {
    display: flex;

    div.login_banner_PC {
        background-image: url('/pictures/images/login/login_banner_PC.jpg');
        background-size: cover;
        background-position: center;
        width: 36%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 50;

        @include custom-responsive(" xs sm lg "){
            display: none;
        }
        @include custom-responsive(" xl xx-l "){
            display: block;
        }    

        p {
            position: absolute;
            top: 12%;
            left: 70%;
            color: white;
            writing-mode: vertical-rl;
            font-size: 20px;
            letter-spacing: 10px;
            line-height: 2.7;
        }

        img {
                width: 90px;
                position: absolute;
                top: 58%;
                left: 68%;
            }
        }
      

    div.login_banner_MB {
        background-image: url('/pictures/images/login/login_banner_MB.jpg');
        background-size: cover;
        background-position: center ;
        width: 100vw;
        height: 300px;
        position: fixed;
        top: 0;
        z-index: 50;


        @include custom-responsive(" xs sm lg "){
            display: block;
        }
        @include custom-responsive(" xl xx-l "){
            display: none;
        }    

        p {
            position: absolute;
            color: white;
            font-size: 17.5px;
            letter-spacing: 10px;
            line-height: 1.8;
            left: 10%;
            top: 48%;
            text-shadow: 3px 3px 5px rgb(20, 31, 49) ;
        }

        img {
                width: 140px;
                position: absolute;
                top: 17%;
                left: 10%;
            }

    }


    div.login {

        @include custom-responsive(" xs sm md lg "){
            margin: 300px auto 0;
            text-align: left;
        }
        @include custom-responsive(" xl xx-l "){
            margin: 60px auto 0;
            margin-left: 46%;
            display: flex;
            flex-direction: column;
            text-align: left;
        }

     
        h1 {
            color: $primaryBrandBlue;
            font-size: $h1Fs_PC;
            padding: 40px 0px;
            text-align: center;
        }

        label {
            @include h5_PC;
        }

        input {

            &:focus {
                outline: 1px solid;
            }

            &::placeholder {
                @include h6_PC;
                color: rgb(99, 99, 99, 0.35);
            }

            @include custom-responsive("xs sm ") {
                width: 100%;
                @include h5_MB;
                border: 1px solid $functionalLightGrey3;
                border-radius: 10px;
                padding: 15px 60px 15px 15px;
                background-color: #f9f9f9;
                
            }

            @include custom-responsive("xl xx-l") {
                width: 100%;
                @include h5_PC;
                border: 1px solid $functionalLightGrey3;
                border-radius: 10px;
                padding: 10px;
                background-color: #f9f9f9;
            }
        }

        input.account {
            margin: 0 0 20px 0;
        }

        input.password {
            margin: 0 0 20px 0;
        }

        .recaptcha_forget_block {
            @include custom-responsive("xs sm ") {
                display: block;
            }

            @include custom-responsive("xl xx-l") {
                display: flex;
            }

            div.forgot_psw {
                @include h6_PC;


                i {
                    color: $secondaryLightBlue2;
                    font-size: $h5Fs_PC;
                    margin-right: 5px;
                }

                a {
                    text-decoration: none;
                }

                @include custom-responsive("xs sm ") {
                    padding: 10px 0 0 0;
                }

                @include custom-responsive("xl xx-l") {
                    padding-left: 30px;
                }
            }
        }

        div.error_account {
            display: block;
        }

        button.login_button {
            @include h5_PC;
            display: block;
            background-color: $primaryAccentGold;
            color: $primaryBrandWhite;
            border-radius: $br_PC;
            border: 1px solid $primaryBrandWhite;
            height: 55px;
            width: 100%;
            margin-top: 50px;

            @include custom-responsive("xs sm ") {
                margin-top: 20px;
            }
        }

        div.error_account {
            color: red;
            margin-top: 10px;
        }

        div.password_wrapper {
           
            div.password_block{
                 position: relative;
                display: flex;
            }

            img {
                position: absolute;            
                width: 25px;
                top: 0;
                cursor: pointer;
                padding: 25px 0;
                @include custom-responsive("xs sm ") {
                    right: 6%;
                }

                @include custom-responsive("xl xx-l") {
                    right: 8%;
                }
            }


        }

        div.login_methods {
            align-items: center;
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: 30px;
            

            h6 {
                color: #bebdbd;
            }

            div.line {

                @include custom-responsive("xs sm ") {
                    width: 25%;
                }
                @include custom-responsive(" xl xx-l "){
                    width: 35%;
                    height: 1px;
                    background-color: #bebdbd;
                }
            }
        }

        div.error_account {
            color: red;
            margin: 10px 0 10px 10px;
        }
        button.google_login {
            @include h5_PC;
            display: block;
            background-color: $primaryBgBlue;
            color: $primaryBrandWhite;
            border-radius: $br_PC;
            border: 1px solid $primaryBrandBlue;
            height: 55px;
            width: 100%;
            margin-top: 30px;

            i{
                color: $primaryBrandWhite;
                margin-right: 5px;
            }

        }

        div.signup{
            text-align: right;
            margin-top: 10px;

            @include custom-responsive("xs sm ") {
                width: 100%;
                text-align: center;
                margin-bottom: 60px;
            }

            

            i{
                color: $secondaryLightBlue2;
                margin-right: 5px;
            }
            .signup_link{
                color: $secondaryLightBlue2;
            }

        }
    }
}