@keyframes shooting_star {
  0% {
    top: -10%;
    left: 55%;
  }

  75% {
    top: -10%;
    left: 55%;
  }

  100% {
    top: 48%;
    left: -15%;
  }
}

@keyframes star_shine {
  50% {
    filter: drop-shadow(0 0 0 rgba(250, 230, 126, 0));
  }

  100% {
    // opacity: 1;
    filter: drop-shadow(0 0 8px rgba(250, 230, 126, 0.9));
  }
}

@mixin shine($name, $duration, $delay) {
  animation-name: $name;
  animation-duration: $duration;
  animation-delay: $delay;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@keyframes boy_float {
  0% {
    transform: rotate(8deg);
  }

  100% {
    transform: rotate(-6deg);
  }
}

div.portal_container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-image: url('/pictures/portal/background.png');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;



  img.shooting_star_white {
    position: absolute;
    animation: shooting_star 6s 1s ease-in-out infinite;
    width: 5%;
  }


  img.logo {
    width: 30vw;
    margin: 10vh auto;
  }

  img.shooting_star_gold {
    width: 20vw;
    position: absolute;
    top: 10vh;
    right: 6vw;
  }

  img.three_stars {
    @include shine(star_shine, 2.5s, 0.5s);
    width: 15vw;
    position: absolute;
    top: 60vh;
    left: 5vw;
  }

  div.portal_img_wrap {
    @include flex_hm;
    gap: 8vw;

    div.portal_img_front,
    div.portal_img_back {
      @include flex_vm;
      div.box {
        position: relative;
        @include flex_hm;
        width: 20vw;
        height: 20vw;

        img {
          animation: boy_float 1.9s 1s ease-in-out infinite alternate;
          position: absolute;
          width: 15vw;
          cursor: pointer;
          transition: opacity .2s ease-in-out;
        }
        img.front1_img,
        img.back1_img {
          &:hover {
            opacity: 0;
          }
        }
        img.front2_img,
        img.front1_img{
          bottom: 30px;
        }
      }

      h2 {
        color: $primaryBrandWhite;
      }
    }
  }
}