div.register_container {
    width: 100%;

    div.register_banner {
            background-size: cover;
            background-position: center;

        @include custom-responsive(" xs sm md lg "){
            background-image: url('/pictures/images/login/login_banner_MB.jpg');
            width: 100vw;
            height: 300px;
        }
        @include custom-responsive(" xl xx-l "){
            background-image: url('/pictures/images/login/login_banner_PC.jpg');
            width: 36%;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 50;
        }

        p {
            position: absolute;
            color: white;

            @include custom-responsive(" xs sm md lg "){
                font-size: 17.5px;
                letter-spacing: 10px;
                line-height: 1.8;
                top: 25%;
                left: 10.2%;
                text-shadow: 3px 3px 5px rgb(20, 31, 49) ;
            }
            @include custom-responsive(" xl xx-l "){
                font-size: 20px;
                letter-spacing: 10px;
                line-height: 2.7;
                top: 12%;
                left: 70%;
                writing-mode: vertical-rl;
            }
        }

        img.logo_vertical {
            width: 12%;
            position: absolute;
            top: 58%;
            left: 72%;
            @include custom-responsive(" xs sm md lg "){
                display: none;
            }
            @include custom-responsive(" xl xx-l "){
                display: block;
            }
        }

        img.logo_horizontal {
            width: 140px;
            position: absolute;
            top: 8%;
            left: 10.2%;

            @include custom-responsive(" xl xx-l "){
                display: none;
            }
        }

    }
    .register_main {
        
        @include custom-responsive(" xs sm md lg "){
            // padding: 50px 25% 50px 25%;
        }
        @include custom-responsive(" xl xx-l "){
            padding: 105px 0 160px 46%;
        }
    }

  }