@import '@/assets/sass/base/color';
@import '@/assets/sass/base/fonts/fonts-mixin';
@import '@/assets/sass/base/box-shadow';
@import '@/assets/sass/base/border-radius';


div.banner{
    width: 100%;
    img{
        width: 100%;
    }
}
div.container{
    width: 100%;
    div.main_body{
        width: 62.5vw;
        margin: auto;
        position: relative;
        h1{
            @include h1_PC;
            color:$primaryBrandBlue;
            margin-left: 8%;
        }
        section.project_deteils{
            margin-top: 5%;
            div.top{
                display: flex;
                align-items: flex-start;
                div.left-card{
                    position: relative;
                    left: 5%;
                    top: 16vh;
                    z-index: 22;
                    width: 45%;
                    background-color: $functionalLightGrey1;
                    border-radius: $br_PC * 2;
                    padding: 5%;
                    box-sizing: border-box;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 10px;
                    margin-bottom: 17%;
                img{
                    position: absolute;
                    top: -22px;
                }
                h2{
                    color: $primaryBrandBlue;
                    @include h2_PC;
                }
                h3{
                    color:$basicFontColor ;
                    @include h3_PC;
                    margin-bottom: 15px;
                }
                p{
                    color:$basicFontColor ;
                    @include h6_PC;
                }
                }
                div.right-pic{
                    position: relative;
                    width: 60%;
                    right: 5%;
                    img{
                        width: 100%;
                        object-fit: cover;
                        object-position: center;
                        border-radius: $br_PC;
                    }

                }
            }
            div.describe{
                width: 85%;
                margin: auto;
                @include h6_PC;
            }
            div.illustrate{
                width: 85%;
                margin: 4% auto;
                padding: 40px;
                box-sizing: border-box;
                border: 1px solid $functionalLightGrey4;
                border-radius: $br_PC;
                @include h6_PC;
                display: flex;
                gap: 50px;
            }

        }
        img.deco{
            position: absolute;
            z-index: 0;
            &:nth-child(1){
                top:0;
                left: -250px;
            }
            &:nth-child(2){
                top: 600px;
                right: -250px;
            }
            &:nth-child(3){
                bottom: 0;
                right: -250px;
                transform: scaleX(-1);
            }
            &:nth-child(4){
                bottom: 400px;
                left: -150px;
            }
            &:nth-child(5){
                top: 25px;
                left: 300px;
            }
        }
    }
}