@import '@/assets/sass/base/color';
@import '@/assets/sass/base/fonts/fonts-mixin';
@import '@/assets/sass/base/box-shadow';
@import '@/assets/sass/base/border-radius';
@import '@/assets/sass/base/RWD/breakpoints';


@include custom-responsive('xs'){
  div.banner {
    width: 100%;
    img {
      width: 100%;
    }
  }
  div.container {
  overflow: hidden;
  width: 100%;
  margin:8% auto 8%;
  div.main_body{
    width: 90vw;
    margin: auto;
    h1 {
      @include h1_PC;
      color: $primaryBrandBlue;
      margin: auto;
      width: fit-content;
    }
    div.map {
      margin: 30% auto;
      width: 50%;
      position: relative;
      box-sizing: border-box;
      select.filterDistrict{
        position:absolute;
        top: -30%;
        left: 50%;
        transform: translateX(-50%);
        display: inline-block;
        width: 60%;
        padding: 5%;
        @include h5_B_PC;
        border-radius: $br_PC;
        background-color:$primaryBrandBlue ;
        outline: none;
        color:$primaryBrandWhite ;
        appearance: none;
        text-align: center;
        option{
          background-color:$secondaryLightBlue3;
        }
      }
      div.branchs{
        button{
            display: none;
          }
        div.branch-details{
              border-radius:$br_PC; 
              @include boxShadow_PC;
              padding: 15% 10% 20% 10%;
              background-color: $primaryBgWhite;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 85vw;
              display: flex;
              align-items: center;
              justify-content: space-around;
              &::after{
                content: '';
                width: 80%;
                height: 1px;
                background-color: $functionalLightGrey3;
                position: absolute;
                bottom: 10%;
              }
              h2{
                @include h2_PC;
                color: $primaryBrandBlue;
              }
              i{
                color:$primaryBrandBlue;
              }
              p{
                @include h5_PC;
                margin: 8% 0;
              }
              div.pic{
                width: 50%;
                height: 50%;
                  img{
                    width: 100%;
                    height: 100%;
                    border-radius: $br_PC;
                    object-fit: cover;
                    object-position: center;
                  }
              }

          }
      }

      img {
        width: 100%;
      }
    }
    section.location {
      position: relative;
      display: flex;
      width: 80%;
      flex-wrap: wrap;
      margin: auto;
      z-index: 10;
      justify-content: center;
      .card {
        z-index: 10;
        box-sizing: border-box;
        padding: 3%;
        margin: 1%;
        border-radius: 15px;
        display: flex;
        flex-flow: column;
        width: 80%;
        background-color: $primaryBrandBlue;
        color: #fff;
        @include h6_PC;
        transition: .3s;

        &:hover {
          background-color: $secondaryLightBlue1;
          color: $basicFontColor;
          @include boxShadow_PC;
          cursor: pointer;
        }

        .tag {
          @include h4_PC;
          margin-bottom: 5%;
        }

        .name {
          @include h2_PC;
          display: flex;
          flex-flow: row;
          justify-content: space-between;
          align-items: center;

          .people {
            @include h6_PC;

            span {
              @include h5_PC;
            }
          }
        }
      }
    }
    div.deco-stars {
      z-index: 0;
      img{
        width: 80%;
      }
      position: absolute;
      top: 0;
      left: 0;
    }

    div.deco-bigstar {
      img{
        width: 80%;
      }
      position: absolute;
      bottom: 0;
      right: -34vw;
      z-index: 0;
    }
  }
}
}
@include custom-responsive('md'){
  div.container {
    div.main_body{
      div.map {
        margin: 10% auto;
        width: 35%;
        div.branchs{
          button{
            display: block;
            position: absolute;
            background-color: $secondaryLightGold2;
            border: none;
            width: 10px;
            height: 10px;
            padding: 0;
            border-radius:50%;
            box-shadow: 0 0 8px 5px $secondaryLightGold1;  
            cursor: pointer;
            &:hover{
              background-color:$primaryAccentGold;
              scale: 1.05; 
            } 
            }
          div.branch-details{
            border-radius:$br_PC; 
            @include boxShadow_PC;
            padding: 15% 10% 20% 10%;
            background-color: $primaryBgWhite;
            position: absolute;
            width: 150%;
                div.pic{
                  width: 60%;
                  height: 60%;
                    img{
                      width: 100%;
                      height: 100%;
                      border-radius: $br_PC;
                      object-fit: cover;
                      object-position: center;
                    }
                }
  
            }
        }
  
        img {
          width: 100%;
        }
      }
      section.location {
        width: 80%;
        gap: 2%;
        z-index: 10;
        justify-content: start;
        .card {
          position: relative;
          box-sizing: border-box;
          padding: 2%;
          margin: 2%;
          border-radius: 15px;
          display: flex;
          flex-flow: column;
          width: 45%;
            }
          }
        }
      }
      div.deco-stars {
        position: absolute;
        top: 19vh;
        left: -30vh;
      }
      div.deco-bigstar {
        
        img{
          width: 80%;
          z-index: 0;
        }
        position: absolute;
        bottom: 10vh;
        right: 0;
      }

}
@include custom-responsive('xl'){
  div.container {
    div.main_body{
      h1 {
        @include h1_PC;
        margin-left: 24%;
      }
      div.map{
        select.filterDistrict{
          top: -26%;
          left: 100%;
          width: 30%;
          padding: 3%;
      }
      }

      section.location {
        width: 70%;
      .card {
        width: 28%;
        }
      }
    }
    div.deco-stars {
      z-index: 0;
      img{
        width: 80%;
      }
      position: absolute;
      top: 0vw;
      left: -20vw;
    }

    div.deco-bigstar {
      img{
        width: 80%;
      }
      position: absolute;
      bottom: 10vw;
      right: -20vw;
    }
  }
}

.v-enter-active,
.v-leave-active {
  transition: opacity .5s; 
}

.v-enter-from,
.v-leave-to {
  opacity: 0; 
}
.v-enter-to,
.v-leave-from {
  opacity: 1; 
}






