@keyframes star_shine {
    50% {
        filter: drop-shadow(0 0 0 rgba(250, 230, 126, 0));
    }

    100% {
        // opacity: 1;
        filter: drop-shadow(0 0 8px rgba(250, 230, 126, 0.9));
    }
}

@mixin shine($name, $duration, $delay) {
    animation-name: $name;
    animation-duration: $duration;
    animation-delay: $delay;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}


.body {
    width: 100%;
    background-image: url('../../../../public/pictures/images/title/background.png');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.tittle_block {
    width: 90%;
    margin: auto;

    div.title_text {
        position: relative;
        padding-top: 200px;
        @include flex_vm;

        img.shoot {
            position: absolute;
            right: 10px;
        }
    }

    div.title_img {
        @include flex_hm;
        padding-top: 50px;
        justify-content: space-around;

        div.title_img_font img {
            cursor: pointer;
            animation: boy_float 1.9s 1s ease-in-out infinite alternate;

            @keyframes boy_float {
                0% {
                    top: -80%;
                    transform: rotate(8deg);
                }

                100% {
                    top: -72%;
                    transform: rotate(-6deg);
                }
            }
        }

        div.title_img_back img {
            cursor: pointer;
            animation: boy_float 1.9s 1s ease-in-out infinite alternate;

            @keyframes boy_float {
                0% {
                    top: -80%;
                    transform: rotate(8deg);
                }

                100% {
                    top: -72%;
                    transform: rotate(-6deg);
                }
            }

        }
    }


    h2 {
        padding-top: 20px;
        @include h2_PC;
        @include flex_hm;
        color: $primaryBrandWhite;
    }

    .star_img {
        padding-bottom: 100px;
    }
}

.shooting_star_white {
    position: absolute;
    animation: shooting_star 6s 1s ease-in-out infinite;
    width: 5%;

    @keyframes shooting_star {
        0% {
            top: -10%;
            left: 55%;
        }

        75% {
            top: -10%;
            left: 55%;
        }

        100% {
            top: 48%;
            left: -15%;
        }
    }

}

.star_img img {
    @include shine(star_shine, 2.5s, 0.5s);
}