@import'../../../base/fonts/fonts-mixin';
@import'../../../base/box-shadow';
@import'../../../base/color';
@import'../../../base/border-radius';


* {
    margin: 0;
    padding: 0;
}

.main_body {
    width: 1200px;
    margin: auto;

    .title_block {
        display: flex;

        h1 {
            width: auto;
            @include h1_PC;
            color: $primaryBgBlue;
        }

        .topline {
            display: flex;
            align-self: center;
            width: 70%;
            margin-left: 50px;
            height: 1px;
            border-bottom: 1px solid;
        }
    }

    .main_article {
        .article_title {
            display: flex;
            justify-content: space-between;
            padding: 30px 0;

            h2 {
                color: $primaryAccentGold;
            }

            span {
                display: flex;
                align-items: center;
                padding: 0 20px;
                color: $functionalLightGrey4;
            }
        }

        .article {
            .article_block {
                display: flex;

                .article_block_img {
                    img {
                        border-radius: $br_PC;
                    }

                }

                .imgLeft {
                    order: 0;
                }

                .imgRight {
                    order: 1;
                }

                .article_block_text {
                    padding: 0 0 0 80px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    h5 {
                        @include h5_B_PC;
                    }

                    p {
                        @include h6_PC;
                        color: $basicFontColor;
                    }
                }

                .imgRight {
                    order: -1;
                    @extend .article_block_text;
                    padding: 0 80px 0 0;
                }
            }
        }
    }

    .more_news {
        .title_group {
            h2 {
                @include h2_PC;
                color: $primaryBrandBlue;
                font-weight: 900;
            }

            .line {
                margin: 20px 0px;
                display: flex;
                width: 100%;
                height: 4px;
                align-self: center;
                background-color: $primaryBgBlue;
            }
        }

        .cardgroup {
            justify-content: center;
            display: flex;
            gap: 30px;

            .newscard {
                border-radius: $br_PC;
                @include boxShadow_PC;

                a {
                    list-style: none;
                    text-decoration: none;

                }

                .cardimg {

                    img {
                        border-radius: $br_PC $br_PC 0 0;
                        width: 100%;
                        overflow: hidden;
                        vertical-align: bottom;
                    }
                }

                .cardword {
                    padding: 0 20px;
                    width: 345px;
                    h5{
                        @include h5_PC;
                        color: $functionalLightGrey4;
                    }

                    h4 {
                        @include h4_B_PC;
                        color: $primaryBrandBlue;
                    }

                    p {
                        @include h6_PC;
                        color: $basicFontColor;
                    }
                }
            }

        }

    }
}