@import'@/assets/sass/base/fonts/fonts-mixin';
@import'@/assets/sass/base/box-shadow';
@import'@/assets/sass/base/color';
@import'@/assets/sass/base/border-radius';

div.title_img{
    img{
        max-width: 100%;
    }
}
div.main_body {
    width: 1200px;
    margin: auto;

    div.title_block {
        display: flex;

        h1 {
            width: auto;
            @include h1_PC;
            color: $primaryBgBlue;
        }

        div.top_line {
            display: flex;
            align-self: center;
            width: 70%;
            margin-left: 40px;
            height: 1px;
            border-bottom: 1px solid $functionalLightGrey4;
        }
    }

    div.main_article {
        div.article_title {
            display: flex;
            justify-content: space-between;
            padding: 30px 0;

            h2 {
                @include h2_PC;
                color: $primaryAccentGold;
            }

            span {
                display: flex;
                align-items: center;
                padding: 0 20px;
                color: $functionalLightGrey4;
            }
        }

        div.article {
            div.article_block {
                display: flex;

                div.article_block_img {
                    img {
                        border-radius: $br_PC;
                    }

                }

                div.article_block_text {
                    padding: 0 0 0 80px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    h5 {
                        @include h5_B_PC;
                    }

                    p {
                        @include h6_PC;
                        color: $basicFontColor;
                    }
                }

                div.imgRight {
                    order: -1;
                    @extend .article_block_text;
                    padding: 0 80px 0 0;
                }
            }
        }
    }

    div.more_news {
        div.title_group {
            h2 {
                @include h2_PC;
                color: $primaryBrandBlue;
                font-weight: 900;
            }

            div.line {
                margin: 20px 0px;
                display: flex;
                width: 100%;
                height: 4px;
                align-self: center;
                background-color: $primaryBgBlue;
            }
        }

        div.card_group {
            justify-content: center;
            display: flex;
            gap: 30px;

            div.news_card {
                border-radius: $br_PC;
                @include boxShadow_PC;

                a {
                    list-style: none;
                    text-decoration: none;

                }

                div.card_img {

                    img {
                        border-radius: $br_PC $br_PC 0 0;
                        width: 100%;
                        overflow: hidden;
                        vertical-align: bottom;
                    }
                }

                div.card_word {
                    padding: 0 20px;
                    width: 345px;
                    h5{
                        @include h5_PC;
                        color: $functionalLightGrey4;
                    }

                    h4 {
                        @include h4_B_PC;
                        color: $primaryBrandBlue;
                    }

                    p {
                        @include h6_PC;
                        color: $basicFontColor;
                    }
                }
            }

        }

    }
}