    input {
        border: 1px solid $functionalLightGrey3;
        border-radius: 10px;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
        background-color: #f9f9f9;
        @include custom-responsive(" xs sm md lg "){
            @include h5_MB;
        }
        @include custom-responsive(" xl xx-l "){
            @include h5_PC;
        }
    
        &:focus{
            outline: 1px solid ;
        }
        &::placeholder{
            color: rgb(99, 99, 99,0.35);
            @include custom-responsive(" xs sm md lg "){
                @include h6_MB;
            }
            @include custom-responsive(" xl xx-l "){
                @include h6_PC;
            }
        }
    }
    
    div.main_header {
        display: flex;
        flex-direction: column;
        gap: 35px 0;
        @include custom-responsive(" xs sm md lg "){
            align-items: center;
            padding: 40px 0 10px;
            }
        @include custom-responsive(" xl xx-l "){
            align-items: start;
            padding: 0;
            }

        h1 {
            color: $primaryBrandBlue;
            @include custom-responsive(" xs sm md lg "){
                @include h1_MB;
            }
            @include custom-responsive(" xl xx-l "){
                @include h1_PC;
            }
        }

        div.header_step {
            display: flex;
            align-items: center;
            gap: 0 30px;

            div.step_item {
                border-radius: 50%;
                background-color: $primaryBrandBlue;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                @include custom-responsive(" xs sm md lg "){
                    width: 75px;
                    height: 75px;
                }
                @include custom-responsive(" xl xx-l "){
                    width: 112px;
                    height: 112px;
                }

                div.step_text {
                    color: white;
                    margin: 0 0 -10px;
                    @include custom-responsive(" xs sm md lg "){
                        @include h6_MB;
                    }
                    @include custom-responsive(" xl xx-l "){
                        @include h6_PC;
                    }
                }
                div.step_number {
                    color: white;
                    @include custom-responsive(" xs sm md lg "){
                        font-size: 32px;
                    }
                    @include custom-responsive(" xl xx-l "){
                        font-size: 48px;
                    }
                }
            }

            i.fa-solid {
                color: $functionalLightGrey4;
                @include custom-responsive(" xs sm md lg "){
                    font-size: 24px;
                }
                @include custom-responsive(" xl xx-l "){
                    font-size: 32px;
                }
            }
        }

        p.header_notice {
            max-width: 520px;
            width: 88%;
            box-sizing: border-box;
            padding: 18px;
            border: 1px solid $secondaryLightBlue2;
            border-radius: 5px;
            color: $secondaryLightBlue2;
            @include custom-responsive(" xs sm md lg "){
                @include h6_MB;
            }
            @include custom-responsive(" xl xx-l "){
                @include h6_PC;
            }
        }
    }

    div.main_form {
        max-width: 520px;
        width: 88%;
        padding: 30px 0 0 0;
        display: flex;
        flex-direction: column;
        gap: 20px 0;
        @include custom-responsive(" xs sm md lg "){
            margin: auto;
        }
        @include custom-responsive(" xl xx-l "){
            margin: 0;
        }

        div.form_title {
            display: flex;
            align-items: center;

            i.fa-solid {
                font-size: 26px;
                color: $primaryBrandBlue;
                padding: 0 10px 0 0;
            }
        }

        div.form_box {
            position: relative;
        }

        div.label_radio_wrap {
            @include custom-responsive(" xs sm md lg "){
                padding: 5px 0 0;
            }
            @include custom-responsive(" xl xx-l "){
                padding: 10px 0 0;
            }
        }

        .label_radio {
            display: inline-block;
            padding: 0 20px 0 0;
            cursor: pointer;
        }

        input.input_radio {
            border: 1px solid $functionalLightGrey3;
            margin-right: 5px;
            vertical-align: middle;
            background-color: #f9f9f9;
            cursor: pointer;

            @include custom-responsive(" xs sm md lg "){
                width: 18px;
                height: 18px;
            }
            @include custom-responsive(" xl xx-l "){
                width: 24px;
                height: 24px;
            }
        }

        div.birthday_wrap {
            display: flex;
            justify-content: space-between;

            div.birthday_select {
                position: relative;
                width: 31%;

                select{
                    width: 100%;
                    border: 1px solid $functionalLightGrey3;
                    border-radius: 10px;
                    padding: 10px;
                    box-sizing: border-box;
                    color: $basicFontColor;
                    background-color: #f9f9f9;
                    cursor: pointer;

                    @include custom-responsive(" xs sm md lg "){
                        @include h5_MB;
                    }
                    @include custom-responsive(" xl xx-l "){
                        @include h5_PC;
                    }

                    &:focus{
                        outline: 1px solid ;
                    }
                }

                img {
                    position: absolute;
                    top: 50%;
                    transform: translate(0,-50%);
                    cursor: pointer;

                    @include custom-responsive(" xs sm md lg "){
                        width: 12px;
                        right: 12px;
                    }
                    @include custom-responsive(" xl xx-l "){
                        width: 18px;
                        right: 15px;
                    }
                }
            }   
        }

        h4 {
            color: $primaryBrandBlue;
        }

        label {
            @include custom-responsive(" xs sm md lg "){
                @include h5_MB;
            }
            @include custom-responsive(" xl xx-l "){
                @include h5_PC;
            }
        }

        .label_up_file {
            display: block;
            background-color: #F8F7F6;
            height: 200px;
            border: 2px dashed $functionalLightGrey3;
            border-radius: 10px;
            box-sizing: border-box;
            text-align: center;
            cursor: pointer;
            @include custom-responsive(" xs sm md lg "){
                margin-top: 10px;
            }
            @include custom-responsive(" xl xx-l "){
                margin-top: 0;
            }

            .up_file_text {
                padding: 60px 0 0 0;
                i {
                    font-size: 2.5rem;
                    color: $primaryBrandBlue;
                }
                p {
                    color: $primaryBrandBlue;
                }
            }

            img {
              display: block;
              padding: 20px 0;
              width: 100%; 
              height: 100%; 
              object-fit: contain; 
            }
        }

        .error_content {
            @include h6_PC;
            color: red;
        }

        .submit {
            @include custom-responsive(" xs sm md lg "){
                @include regularBlueBtn_MB;
                width: 100%;
                margin: 35px auto 110px;
            }
            @include custom-responsive(" xl xx-l "){
                @include regularBlueBtn_PC;
                margin: 50px auto 0;
            }
        }
    }
        

        