    input {
        @include h5_PC;
        border: 1px solid $functionalLightGrey3;
        border-radius: 10px;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
        background-color: #f9f9f9;
    
        &:focus{
            outline: 1px solid ;
        }
        &::placeholder{
            @include h6_PC;
            color: rgb(99, 99, 99, 0.35);
        }
    }
    
    .main_header {
        display: flex;
        flex-direction: column;
        gap: 35px 0;

        h1 {
            color: $primaryBrandBlue;
        }

        .header_step {
            display: flex;
            align-items: center;
            gap: 0 30px;

            .step_item {
                width: 112px;
                height: 112px;
                border-radius: 50%;
                background-color: $primaryBrandBlue;
                font-family: 'Lato', 'Noto Sans TC';
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .step_text {
                    @include h6_PC;
                    color: white;
                    margin: 0 0 -10px;
                }
                .step_number {
                    font-size: 48px;
                    color: white;
                }
            }
            .step_item.one {
                background-color: $primaryBrandBlue;
            }

            .fa-solid {
                font-size: 32px;
                color: $functionalLightGrey4;
            }
        }

        .header_notice {
            max-width: 520px;
            box-sizing: border-box;
            padding: 18px;
            border: 1px solid $secondaryLightBlue2;
            border-radius: 5px;
            @include h6_PC;
            color: $secondaryLightBlue2;
        }
    }

    .main_form {
        max-width: 520px;
        padding: 30px 0 0 0;
        display: flex;
        flex-direction: column;
        gap: 15px 0;
        // outline: solid 1px red;

        .form_title {
            display: flex;
            align-items: center;

            .fa-solid {
                font-size: 26px;
                color: $primaryBrandBlue;
                padding: 0 10px 0 0;
            }
        }
        .form_box {
            position: relative;
        }

        .label_radio_wrap {
            padding: 10px 0 0;
        }

        .label_radio {
            display: inline-block;
            padding: 0 20px 0 0;
            cursor: pointer;
        }

        .input_radio {
            border: 1px solid $functionalLightGrey3;
            width: 24px;
            height: 24px;
            margin-right: 5px;
            vertical-align: middle;
            background-color: #f9f9f9;
            cursor: pointer;
            // outline: solid 1px red;
        }

        .birthday_wrap {
            display: flex;
            justify-content: space-between;

            .birthday_select {
                position: relative;
                width: 31%;

                select{
                    @include h5_PC;
                    width: 100%;
                    border: 1px solid $functionalLightGrey3;
                    border-radius: 10px;
                    padding: 10px;
                    box-sizing: border-box;
                    color: $basicFontColor;
                    background-color: #f9f9f9;
                    cursor: pointer;

                    &:focus{
                        outline: 1px solid ;
                    }
                }

                img {
                    position: absolute;
                    top: 50%;
                    right: 15px;
                    width: 18px;
                    transform: translate(0,-50%);
                }
            }   
        }

        .form_box.email_check {
            position: relative;

            button {
                @include h5_PC;
                width: 155px;
                padding: 11px;
                border-radius: 0 10px 10px 0;
                color: white;
                background-color: $primaryBrandBlue;
                border: none;
                position: absolute;
                bottom: 0;
                right: 0;

                .fa-solid {
                color: white;
                padding: 0 10px 0 0;
            }
            }    
        }

        h4 {
            color: $primaryBrandBlue;
        }

        label {
            @include h5_PC;
        }

        .label_up_file {
            display: block;
            background-color: #F8F7F6;
            height: 200px;
            border: 2px dashed $functionalLightGrey3;
            border-radius: 10px;
            box-sizing: border-box;
            text-align: center;
            cursor: pointer;

            .up_file_text {
                padding: 60px 0 0 0;
                i {
                    font-size: 40px;
                    color: $primaryBrandBlue;
                }
                p {
                    color: $primaryBrandBlue;
                }
            }
        }

        .submit {
            @include regularBlueBtn_PC;
            margin: 50px auto;
        }
    }
        

        