table.checkout_table {

  width: 700px;

  caption {
    text-align: left;
    @include h2_PC;
    border-bottom: 5px solid $primaryBrandBlue;
    padding: 10px 0;
  }


  td.payment_method {
    border-bottom: 1px solid $functionalLightGrey3;
    padding: 20px;

    input[type="radio"] {
      accent-color: $primaryBrandBlue;
      transform: scale(2);
      border: 3px solid primaryBrandBlue;
    }

    label {
      margin-left: 20px;
      @include h4_PC;
    }



  }



}