table.checkout_table {

  width: 700px;

  caption {
    text-align: left;
    @include h2_PC;
    border-bottom: 5px solid $primaryBrandBlue;
    padding: 10px 0;
  }

}


div.payment_plan_wrap {
  @include flex_hm;

  div.payment_plan {
    @include flex_hm;
    @include h4_PC;
    width: 150px;
    height: 100px;
    border-radius: $br_PC;
    margin: 20px 10px;
    border: 2px solid $primaryBrandBlue;
    @include btnEffect;
    color: $primaryBrandBlue;
    background-color: $primaryBrandWhite;
  }

  div.chosen {
    color: $primaryBrandWhite;
    background-color: $primaryBgBlue;
  }



}