// ----------BANNER的一些動畫------------
@keyframes star_shine {
    0% {
        opacity: 0.5;
    }
    20% {
        opacity: 1;
    }
    60% {
        filter: drop-shadow(0 0 0 rgba(250, 230, 126, 0));
    }
    100% {
        // opacity: 1;
        filter: drop-shadow(0 0 8px rgba(250, 230, 126, 0.9));
    }
    }
@mixin shine($name, $duration, $delay)  {
    animation-name: $name;
    animation-duration: $duration;
    animation-delay: $delay;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
  }

// ----------BANNER------------
.banner_container {
    width: 100%;
    overflow: hidden;

    .banner {
    width: 100%;
    background-image: url(/public/pictures/images/home/home_banner_bg.png);
    background-size: cover;
    background-position: left;
    position: relative;

    @include custom-responsive("xs sm") {
        height: 675px;
    }
    @include custom-responsive("md lg xl 2l") {
        height: 772px;
    }
 
    .banner_center {
        position: absolute;
        
        transform: translate(-50%, -50%);
        text-align: center;
        @include custom-responsive("xs") {
                left: 50%;
                top: 48%;
            }
        @include custom-responsive("sm md") {
                top: 55%;
            }
        @include custom-responsive("lg xl 2l") {
                top: 50%;
            }

        .white_moon {
            animation: moon 3s ease-in-out infinite alternate;
            @include custom-responsive("xs sm md") {
                width: 78%;
            }
            @include custom-responsive("lg xl 2l") {
                width: 100%;
            }
            
        }
            @keyframes moon {
        0% {
            transform: scale(1);
            }
        100% {
            transform: scale(1.04);
            }
            }

        .ignite_the_night {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-55%, -50%);
            @include custom-responsive("xs sm md") {
                width: 35%;
            }
            @include custom-responsive("lg xl 2l") {
                width: 45%;
            }
            
        }
        .girl_hugging_star_white {
            position: absolute;
            animation: girl_float 1.9s ease-in-out infinite alternate;
            @include custom-responsive("xs") {
                width: 85%;
                left: -30%;
                @keyframes girl_float {
            0% {
                top: 110%;
            }
            100% {
                top: 118%;
                transform: rotate(3deg);
        }
                }
            }

            @include custom-responsive("sm md") {
                width: 75%;
                left: -45%;
                @keyframes girl_float {
            0% {
                top: 80%;
            }
            100% {
                top: 88%;
                transform: rotate(3deg);
            }
                }
            }

            @include custom-responsive("lg xl 2l") {
                width: 85%;
                left: -100%;
                @keyframes girl_float {
            0% {
                top: 27%;
            }
            100% {
                top: 34%;
                transform: rotate(3deg);
            }
                }
            }
        }


        .boy_lighting_up_white {
            position: absolute;
            animation: boy_float 1.9s 1s ease-in-out infinite alternate;
            @include custom-responsive("xs") {
                width: 85%;
                left: 60%;
                @keyframes boy_float {
            0% {
                top: -80%;
                transform: rotate(2deg);
            }

            100% {
                top: -72%;
                transform: rotate(-3deg);
            }
                }
            }

            @include custom-responsive("sm md") {
                width: 80%;
                left: 66%;
                @keyframes boy_float {
            0% {
                top: -80%;
                transform: rotate(2deg);
            }

            100% {
                top: -87%;
                transform: rotate(-3deg);
            }
                }
            }

            @include custom-responsive("lg xl 2l") {
                width: 85%;
                left: 125%;
                @keyframes boy_float {
            0% {
                top: -14%;
                transform: rotate(2deg);
            }

            100% {
                top: -7%;
                transform: rotate(-3deg);
            }
                }
            }
        }
            
        .orange_asterisk_single { 
            position: absolute;  
            @include shine(star_shine, 4s, 0);
            @include custom-responsive("xs sm md") {
                width: 11%;
                left: 74%;
                top: 125%;
            }
            @include custom-responsive("lg xl 2l") {
                width: 14%;
                left: 3%;
                top: 110%;
            }
        }
        .golden_star_single_2 {
            width: 8%;
            position: absolute;
            left: 7%;
            top: -5%;
            @include shine(star_shine, 3s, 0.5s);
        }
        .golden_star_single_3 {
            width: 6%;
            position: absolute;
            left: 96%;
            top: 92%;
            @include shine(star_shine, 3s, 1s);
        }
        .golden_star_2 {
            width: 18%;
            position: absolute;
            left: 112%;
            top: 75%;
            @include shine(star_shine, 4s, 0);
        }
    }
    .orange_stars {
        position: absolute;
        @include shine(star_shine, 2.5s, 0.5s);
        @include custom-responsive("xs sm") {
            width: 8%;
            left: 12%;
            top: 24%;
        }
        @include custom-responsive("md lg") {
            width: 6%;
            left: 10%;
            top: 20%;
        }
        @include custom-responsive("xl 2l") {
            width: 4%;
            left: 10%;
            top: 50%;
        } 
    }
    .golden_star_single {
        width: 1.5%;
        position: absolute;
        left: 91%;
        top: 55%;
        @include shine(star_shine, 2.5s, 1s);
        @include custom-responsive("xs sm md lg") {
            display: none;
        }
        @include custom-responsive("xl 2l") {
            display: block;
        } 
    }
    .shooting_star_white {
        position: absolute;
        animation: shooting_star 6s 1s ease-in-out infinite;
        @include custom-responsive("xs sm md") {
                width: 12%;
                @keyframes shooting_star {
        0% {
            top: -10%;
            left: 66%;
        }
        75% {
            top: -10%;
            left: 80%;
        }
        100% {
            top: 30%;
            left: -20%;
        }
                }
        }
        @include custom-responsive("lg xl 2l") {
                width: 4.8%;
                @keyframes shooting_star {
        0% {
            top: -10%;
            left: 55%;
        }
        75% {
            top: -10%;
            left: 55%;
        }
        100% {
            top: 48%;
            left: -15%;
        }
                }
        }
    }
    
    .shooting_star_white_2 {
        position: absolute;
        @include custom-responsive("xs sm md") {
            width: 8%;
            left: 44%;
            top: 24%;
        }
        @include custom-responsive("lg") {
            width: 6%;
            left: 25%;
            top: 28%;
        }
        @include custom-responsive("xl 2l") {
            width: 4.8%;
            left: 32%;
            top: 28%;
        }
    }
    .shooting_star_white_group {
        width: 6%;
        position: absolute;
        left: 83%;
        top: 24%;
        @include custom-responsive("xs sm md lg") {
            display: none;
        }
        @include custom-responsive("xl 2l") {
            display: block;
        } 
    }

    .home_banner_cloud {
        width: 100%;
        background-image: url(/public/pictures/images/home/home_banner_cloud.svg);
        background-size: cover;
        position: absolute;
        left: 0;
        bottom: 0;
        @include custom-responsive("xs sm") {
        height: 140px;
            background-position: right;
    }
        @include custom-responsive("md lg xl 2l") {
        height: 232px;
            background-position: center;
    }
    }
}
}

// ----------SECTION INTRO------------
.section_intro {
    background-color: $functionalLightGrey1;
    position: relative;
    .intro {
        
        padding: 6% 0;
        @include custom-responsive("xs sm md") {
        @include body_space_MB;
        }
        @include custom-responsive("lg xl 2l") {
        @include body_space_PC;
        }

        .intro_title {
        text-align: center;
        @include custom-responsive("lg xl 2l") {
            display: flex;
            align-items: center;
            justify-content: center;
        }

            img {
                transform: scaleX(-1);
                @include custom-responsive("xs") {
                    width: 18%;
                }
                @include custom-responsive("sm md") {
                    width: 14%;
                }
                @include custom-responsive("lg xl 2l") {
                    width: 8%;
                }
            }
            h1 {
                color: $primaryBrandBlue;
                

                @include custom-responsive("xs sm md") {
                    @include h1_MB;
                    padding: 5% 0 5% 0;
                }
                @include custom-responsive("lg xl 2l") {
                    @include h1_PC;
                    padding: 0 0 0 2%;
                }
            }
        }

        .intro_text {
            margin: auto;
            padding: 4% 0 2%;
            color: basicFontColor;
            @include custom-responsive("xs sm") {
                @include h5_MB;
                line-height: 2.4rem;
                width: 90%;
            }
            @include custom-responsive("md lg xl") {
                @include h5_MB;
                line-height: 3rem;
                width: 80%;
            }
                @include custom-responsive("2l") {
                @include h5_PC;
                line-height: 3.2rem;
                width: 65%;
            }
        }
    }
.intro_map {
    position: relative;
    @include custom-responsive("xs sm md") {
                padding: 0 0 40%;
            }
    @include custom-responsive("lg xl 2l") {
                padding: 0 0 8%;
            }
    img {
        display: block;
        margin: auto;
        padding-right: 8%;
        @include custom-responsive("xs sm md") {
            width: 45%;
        }
        @include custom-responsive("lg xl 2l") {
            width: 28%;
        }

    }

    .branch_dot {
            position: absolute;       
            background-color: $primaryAccentGold;
            border: 5px solid $secondaryLightGold1;
            width: 10px;
            height: 10px;
            border-radius:50%;  
            cursor: pointer;
            transition: .2s;
            &:hover {
                transform: scale(1.3);
                border: 5px solid #fff;
            }
            @include custom-responsive("xs sm md") {
                top: 40%;
                left: 51%;
            }
            @include custom-responsive("lg xl 2l") {
                top: 56%;
                left: 50%;
            }
    }
    
            .branch_dot:nth-child(2) {
                @include custom-responsive("xs sm md") {
                top: 4%;
                left: 61%;
            }
                @include custom-responsive("lg xl 2l") {
                top: 5%;
                left: 55%;
            }
            }
            .branch_dot:nth-child(3) {
                @include custom-responsive("xs sm md") {
                top: 18%;
                left: 46%;
            }
                @include custom-responsive("lg xl 2l") {
                top: 25%;
                left: 46%;
            }
            }
            .branch_dot:nth-child(4) {
                @include custom-responsive("xs sm md") {
                top: 37%;
                left: 39%;
            }
                @include custom-responsive("lg xl 2l") {
                top: 50%;
                left: 42%;
            }
            }

    .branch_info {
        display: flex;
        justify-content: space-between;
        align-items: end;
        padding-bottom: 10px;
        border-bottom: 3px solid $functionalLightGrey3;
        @include custom-responsive("xs") {
            width: 84%;
            position: absolute;
            top: 66%;
            left: 50%;
            transform: translateX(-50%);
                }
        @include custom-responsive("sm md") {
            width: 50%;
            position: absolute;
                }
        @include custom-responsive("lg xl") {
            width: 33%;
            position: absolute;
            top: 34%;
            left: 57%;
            transform: translateX(0%);
                }
        @include custom-responsive("2l") {
            width: 23%;
            position: absolute;
            top: 34%;
            left: 60%;
                }

        .branch_title {
            .area {
                @include custom-responsive("xs sm md") {
                @include h5_B_MB;
            }
                @include custom-responsive("lg xl 2l") {
                @include h5_B_PC;
            }
            }
            .name {
                @include custom-responsive("xs sm md") {
                @include h5_B_MB;
            }
                @include custom-responsive("lg xl 2l") {
                @include h5_B_PC;
            }
            }
        }
        .branch_number p{
            @include custom-responsive("xs sm md") {
                @include h5_B_MB;
            }
                @include custom-responsive("lg xl 2l") {
                @include h5_B_PC;
            }
        }
        .branch_number span{
            @include custom-responsive("xs") {
                font-size: 26px;
                color: $decorativeOrange;
            }
            @include custom-responsive("sm md lg xl 2l") {
                font-size: 30px;
                color: $decorativeOrange;
            }
        }
    }
}
.girl_bubbling {
    width: 24%;
    position: absolute;
    bottom: 0;
    right: 8%;
    transform: scaleX(-1);
    @include custom-responsive("xs sm md") {
        display: none;
    }
    @include custom-responsive("lg xl 2l") {
        display: block;
    }
}
}

.section_news {
    margin: auto;
    padding: 6% 0;
        @include custom-responsive("xs sm md") {
        @include body_space_MB;
    }
        @include custom-responsive("lg xl 2l") {
        @include body_space_PC;
    }
}



.v-enter-active,
.v-leave-active {
  transition: opacity .5s;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.v-enter-to,
.v-leave-from {
  opacity: 1;
}