.banner {
    width: 100%;
    position: relative;
    outline: red solid 1px;
    img {
        width: 100%;
    }
    .banner_center {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    .white_moon {
        width: 100%;
    }
    .ignite_the_night {
        width: 45%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-55%, -50%);
    }
    .girl_hugging_star_white {
        width: 85%;
        position: absolute;
        left: -100%;
        top: 30%;
    }
    .boy_lighting_up_white {
        width: 85%;
        position: absolute;
        left: 125%;
        top: -10%;
    }
    .orange_asterisk_single {
        width: 12%;
        position: absolute;
        left: 3%;
        top: 110%;
    }

    }

    .home_banner_cloud {
        position: absolute;
        left: 0;
        bottom: 0;
    }
}