// ----------BANNER的一些動畫------------
@keyframes star_shine {
    0% {
        opacity: 0.5;
    }
    20% {
        opacity: 1;
    }
    60% {
        filter: drop-shadow(0 0 0 rgba(250, 230, 126, 0));
    }
    100% {
        // opacity: 1;
        filter: drop-shadow(0 0 8px rgba(250, 230, 126, 0.9));
    }
    }
@mixin shine($name, $duration, $delay)  {
    animation-name: $name;
    animation-duration: $duration;
    animation-delay: $delay;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
  }

// ----------BANNER------------
.banner {
    width: 100%;
    position: relative;
    img {
        width: 100%;
    }
    .banner_center {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    .white_moon {
        width: 100%;
        animation: moon 3s ease-in-out infinite alternate;
    }
        @keyframes moon {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(1.04);
        }
        }

    .ignite_the_night {
        width: 45%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-55%, -50%);
    }
    .girl_hugging_star_white {
        width: 85%;
        position: absolute;
        left: -100%;
        // top: 30%;
        animation: girl_float 1.9s ease-in-out infinite alternate;
    }
    @keyframes girl_float {
        0% {
            top: 27%;
        }
        100% {
            top: 34%;
            transform: rotate(3deg);
        }
    }

    .boy_lighting_up_white {
        width: 85%;
        position: absolute;
        left: 125%;
        // top: -10%;
        animation: boy_float 1.9s 1s ease-in-out infinite alternate;
    }
        @keyframes boy_float {
        0% {
            top: -14%;
            transform: rotate(2deg);
        }

        100% {
            top: -7%;
            transform: rotate(-3deg);
        }
    }
    .orange_asterisk_single {
        width: 14%;
        position: absolute;
        left: 3%;
        top: 110%;
        @include shine(star_shine, 4s, 0);
    }
    .golden_star_single_2 {
        width: 8%;
        position: absolute;
        left: 7%;
        top: -5%;
        @include shine(star_shine, 3s, 0.5s);
    }
    .golden_star_single_3 {
        width: 6%;
        position: absolute;
        left: 96%;
        top: 92%;
        @include shine(star_shine, 3s, 1s);
    }
    .golden_star_2 {
        width: 18%;
        position: absolute;
        left: 112%;
        top: 75%;
        @include shine(star_shine, 4s, 0);
    }
    }
    .orange_stars {
        width: 4%;
        position: absolute;
        left: 10%;
        top: 50%;
        @include shine(star_shine, 2.5s, 0.5s);
    }
    .golden_star_single {
        width: 1.5%;
        position: absolute;
        left: 91%;
        top: 55%;
        @include shine(star_shine, 2.5s, 1s);
    }
    .shooting_star_white {
        width: 4.8%;
        position: absolute;
        // left: 15%;
        // top: 20%;
        animation: shooting_star 6s 1s ease-in-out infinite;
    }
    @keyframes shooting_star {
        0% {
            top: -10%;
            left: 55%;
        }
        75% {
            top: -10%;
            left: 55%;
        }
        100% {
            top: 50%;
            left: -15%;
        }
    }
    .shooting_star_white_2 {
        width: 4.8%;
        position: absolute;
        left: 35%;
        top: 28%;
    }
    .shooting_star_white_group {
        width: 6%;
        position: absolute;
        left: 83%;
        top: 24%;
    }

    .home_banner_cloud {
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

// ----------SECTION INTRO------------
.section_intro {
    background-color: $functionalLightGrey1;
    position: relative;
    .intro {
        width: 62.5vw;
        margin: auto;
        padding: 6% 0;

        .intro_title {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 8%;
                transform: scaleX(-1);
            }
            h1 {
                color: $primaryBrandBlue;
                padding: 0 0 0 2%;
                @include h1_PC;
            }
        }

        .intro_text {
            width: 65%;
            margin: auto;
            padding: 4% 0 2%;
            color: basicFontColor;
            @include h5_PC;
            line-height: 3rem;
        }
    }
.intro_map {
    position: relative;
    padding: 0 0 8%;
    img {
        display: block;
        width: 28%;
        margin: auto;
        padding-right: 8%;

    }

    .branch_dot {
            position: absolute;
            top: 47%;
            left: 50%;
            background-color: $primaryAccentGold;
            border: 5px solid $secondaryLightGold1;
            width: 10px;
            height: 10px;
            border-radius:50%;
            // box-shadow: 0 0 8px 5px $secondaryLightGold1;  
            cursor: pointer;
    }
    
            .branch_dot:nth-child(2) {
                top: 5%;
                left: 55%;
            }
            .branch_dot:nth-child(3) {
                top: 22%;
                left: 46%;
            }
            .branch_dot:nth-child(4) {
                top: 44%;
                left: 42%;
            }

    // span {
    //     font-size: 50px;
    //     color: red;
    //     position: absolute;
    //     top: 40%;
    //     left: 54%;
    // }


    .branch_info {
        width: 18%;
        position: absolute;
        top: 34%;
        left: 60%;
        display: flex;
        justify-content: space-between;
        align-items: end;
        padding-bottom: 10px;
        border-bottom: 3px solid $functionalLightGrey3;

        .branch_title {
            .area {
                @include h5_PC;
            }
            .name {
                @include h5_B_PC;
            }
        }
        .branch_number p{
            @include h5_B_PC;
        }
        .branch_number span{
            font-size: 30px;
            color: $decorativeOrange;
        }
    }
}
.girl_bubbling {
    width: 24%;
    position: absolute;
    bottom: 0;
    right: 8%;
    transform: scaleX(-1);
}
}
.section_news {
    width: 62.5vw;
    margin: auto;
    padding: 6% 0;
}
