div.dream_star_card_container {
  @include flex_vm;

  div.dream_star_card_wrap {
    @include flex_vm;
    position: relative;

    img.dream_star_background {

      @include custom-responsive("xl") {
        width: 15vw;
        height: 15vw;
      }


    }

    div.img_wrap {
      width: 13vw;
      height: 13vw;
      border-radius: 50%;
      border: 5px solid $primaryBrandWhite;
      overflow: hidden;
      position: absolute;
      transform: translateY(-50%);
      top: 50%;



      img {
        @include imgEffect;
      }

    }
  }

}


button.watch_more {
  @include flex_hm;
  gap: 1vw;
  @include dreamStarPlanBlueBtn_PC;
  position: relative;
  top: -4vh;

  @include custom-responsive("xl") {
    font-size: 1.2vw;
  }

  &:hover {
    opacity: 1;
  }
}

p.vote {
  margin-top: -2vh;
  @include flex_hm;
  gap: 0.5vw;


  img {
    cursor: pointer;

    &:hover {
      filter: invert(91%) sepia(16%) saturate(1295%) hue-rotate(331deg) brightness(106%) contrast(102%);
    }
  }

  span {
    color: $primaryBrandBlue;
    @include h3_PC;
  }
}

div.title_wrap {
  margin: 2vh;
  @include flex_vm;

  p.title {
    font-size: $h4Fs_PC;
    font-weight: bold;
    color: $primaryBrandBlue;
  }

  p.sub_title {
    font-size: $h4Fs_PC;
    color: $primaryBrandBlue;
  }

}



button.vote_btn {
  @include dreamStarPlanYellowBtn_PC;
  font-weight: bold;


  @include custom-responsive("xl") {
    font-size: 1.3vw;
    padding-top: 0.4vh;
  }
}

.link {
  text-decoration: none;
}