* {
  margin: 0;
  padding: 0;
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}





/* 🚩捷徑🚩 */

//base 11
//mixin 17
//layout 22
//page 28
//plugin 33
//使用說明 38

//---------------------------------------------------------------------------------------
/* ⭐字體 font-family⭐ */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');

$font-family: 'Noto-Sans';



//---------------------------------------------------------------------------------------
/* ⭐base⭐ */

@import 'base/color';
@import 'base/fonts/fonts';

//---------------------------------------------------------------------------------------
/* ⭐layout⭐ */

@import 'layout/header';
@import 'layout/footer';

//---------------------------------------------------------------------------------------
/* ⭐page⭐ */

@import 'pages/index';

//---------------------------------------------------------------------------------------
/* ⭐plugin⭐ */


//---------------------------------------------------------------------------------------
/* ⭐使用說明⭐ */

//當檔案需要使用其他變數時，將該sass檔 @import，放在 style 標籤最一開始。

// <style scoped lang="scss">
// @import 'example/example';

// </style>